@charset "utf-8";
/* CSS Document */

@import url(fonts/nanumgothic.css);

html,body  { 
	margin:0; padding:0;
	background-color:#fff;
	color:#555;
	font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;  }
	
body{
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0px;
}
img { 
	border:0 none; margin:0; padding:0; }
.imgValign { 
	vertical-align:top }
a { text-decoration:none }
a:link { color:#406080; text-decoration:none }
a:visited { color:#406080; text-decoration:none }
a:hover { color:#406080; text-decoration:none }
a:active { color:#406080; text-decoration:none }

/* start common */
#divBgAll {
	position:absolute;
	width:100%; height:100%;
	left:0; right:0; top:0; bottom:0;
	margin:0;
	border:none;
	z-index:1; }

#divBgImgLogin {
	position:absolute;
	alignment-adjust:top;
	width:100%; height:100%;
	border:none;
	z-index:2; }
#divBgImgMain {
	position:absolute;
	alignment-adjust:top;
	width:100%; height:720px;
	border:none;
	z-index:0; }
#divBgImgMain2 {
	position:absolute;
	alignment-adjust:top;
	width:100%; height:720px;
	border:none;
	z-index:2; }
#divBgTitle {
	position:absolute;
	left:0; top:0;
	width:100%; height:35px;
	background: url(/itg/base/images/portal/common/mnd_portal_bgtop.png);
	border:none;
	z-index:100; }
#divBgFooterLogin {
	position:absolute; 
	background:url(/itg/base/images/portal/common/mnd_portal_footer.png) no-repeat;
	width:806px; height:34px;
	left:50%; bottom:3%;
	border:none;
	margin-left: -140px; 
	z-index:4; }
#divBgFooterLogin1Center {
	position:absolute; 
 	background:url(/itg/base/images/portal/common/mnd_portal_footer_1center.png) no-repeat;
	background:url() no-repeat;
	width:390px; height:34px;
	left:50%; bottom:3%;
	border:none;
	margin-left: -195px; 
	z-index:4; }
#divBgFooterLogin2Center {
	position:absolute; 
	background:url(/itg/base/images/portal/common/mnd_portal_footer_2center.png) no-repeat;
	width:390px; height:34px;
	left:50%; bottom:3%;
	border:none;
	margin-left: -195x; 
	z-index:4; }
#divBgFooterMain {
	position:absolute; 
	background:url(/itg/base/images/portal/common/mnd_portal_footer.png) no-repeat;
	width:806px; height:34px;
	left:50%; bottom:15px;
	border:none;
	margin-left: -140px; 
	z-index:4; }
#divBgFooterMain1Center {
	position:absolute; 
 	background:url(/itg/base/images/portal/common/mnd_portal_footer_1center.png) no-repeat;
	background:url() no-repeat;
	width:390px; height:34px;
	left:50%; bottom:15px;
	border:none;
	margin-left: -195px; 
	z-index:4; }
#divBgFooterMain2Center {
	position:absolute; 
	background:url(/itg/base/images/portal/common/mnd_portal_footer_2center.png) no-repeat;
	width:390px; height:34px;
	left:50%; bottom:15px;
	border:none;
	margin-left: -195px;
	z-index:4; }
#divLoginBox {
	position:absolute;
	background: url(/itg/base/images/portal/login/login_bgbox.png) no-repeat;
	width: 1090px; height: 290px;
	left: 50%; top: 55%; 
	margin-left: -545px; 
	margin-top: 0px; 
	z-index:5; }
#divBgBottom {
	position:absolute;
	left:50%; top:350px; 
	width:1170px; height: 550px;
	margin-left: -585px; vertical-align:top;
	z-index:5; }
#portalContainer{
	/*
	z-index: 5;
	*/
}
.titleMark {
	position:absolute;
	left:12px; top:1px; }
.titleInfo {
	position:absolute;
	right:12px; top:7px;
	height: 22px; vertical-align:top }
.accountInfo {
	height: 22px;
	font-size:11px; line-height: 21px;
	color: #ffffff; 
	vertical-align:top; margin-right:2px; }
/*
.footerImg {
	position:absolute;
	width: 35%; height:34px; 
	left:0; text-align:right; 
	vertical-align:middle; }
.footerTxt {
	position:absolute;
	width: 65%; height:34px;
	right:0; text-align:left;
	vertical-align:middle;
	color:#222;
	font-family:dotum;
	font-size:11px;
	line-height:34px; }
*/

/* start login detail */
#divDate {
	width:270px; height: 30px;
	margin-left: 32px;
	margin-top:240px;
	text-align:left; }
.dateTime {
	color:#ff7700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	line-height:32px;
	vertical-align: bottom;
	margin-left: 3px; }
.dateDay {
	color: #444;
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 16px;
	line-height: 25px; }

#divNoticeBox {
	position:absolute;
	left: 155px; top: 32px; 
	width: 205px;
	height: 180px; }
div.NoticeMore {
	top: 0; right:0;
	text-align:right;
	width: 200px;
	height: 35px; }
div.NoticeList {
	width: 205px;
	height: 25px; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	color:#333;
	text-align: left; }

#divLoginTxt {
	position:absolute;
	width:309px; height: 210px;
	left: 396px; top: 65px; }
div.LoginInput { 
	height:30px; text-align:right; }
div.LoginInput span.InputTit { 
	width:50px; height:30px; vertical-align:middle; margin-right:5px; alignment-baseline:middle; }
div.LoginInput span.InputTxt { 
	width:140px; height:30px; vertical-align:middle; }
div.PluginAll {
	height:30px; margin-left:160px; margin-top: 4px; text-align:left; }
div.PluginAll span.InputCheck { 
	height:20px; vertical-align:top; }
div.PluginAll span.SaveID { 
	height:20px; vertical-align: top; font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif; font-size:11px; color:#333; margin:5px 10px 0 -4px; line-height:19px; }
div.PluginAll span.BtnPlugin { 
	height:20px; vertical-align: middle; }
input.login {
	width: 148px; height:29px;
	border:solid 1px #a3b8cc;
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif; font-size:14px; color:#005599; }
#divLoginBtn { 
	margin-top: 15px; 
	height: 45px; 
	text-align: right; }
#divLoginSubBtnAll { 
	position:absolute;
	left: 0; bottom: 0; 
	width:125px; height: 86px; }
div.LoginSubBtn { 
	width:125px; height: 28px; 
	text-align: left; 
	vertical-align: bottom; }

#divEventBox {
	position:absolute;
	left: 847px; top: 30px; 
	width: 230px;
	height: 110px; }
div.EventMore {
	top: 0; right:0;
	text-align:right;
	width: 230px;
	height: 25px; }
div.EventList {
	width: 230px;
	height: 22px; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	color:#333;
	text-align: left;
	cursor: pointer; }
#divWorkBox {
	position:absolute;
	left: 847px; top: 165px; 
	width: 230px;
	height: 110px; }



/* start main detail */
#contentsLeft {
	position:absolute;
	left:0; top:0;
	width:400px; height:550px;
	vertical-align:top;
}
#contentsCenter {
	position:absolute;
	left:400px; top:0;
	width:500px; height:550px;
	vertical-align:top;
}
#contentsRight {
	position:absolute;
	right:0; top:0;
	width:270px; height:550px;
	vertical-align:top;
}

.panelServiceRequest {
	left:0; top:0;
	width:135px; height:130px;
	background: url(/itg/base/images/portal/main/btn_servicerequest.png);
	vertical-align: middle;
}
.panelVisitor {
	left:0; top:0;
	width:135px; height:130px;
	background: url(/itg/base/images/portal/main/btn_exportimport.png);
	vertical-align: middle;
}
.panelTotalList {
	left:0; top:0;
	width:135px; height:130px;
	background: url(/itg/base/images/portal/main/btn_generalrequest.png);
	vertical-align: middle;
}
.panelSearch {
	left:0; top:0;
	width:400px; height:80px;
	background: url(/itg/base/images/portal/main/bg_panel_search.png);
	vertical-align: middle;
}
.panelNotice {
	left:0; top:0;
	width:400px; height:180px;
	background: url(/itg/base/images/portal/main/bg_panel_notice.png);
	vertical-align:top;
}
.panelBusiness {
	left:0; top:0;
	width:400px; height:290px;
	background: url(/itg/base/images/portal/main/bg_panel_business.png);
	vertical-align:top;
}
.panelServiceLevel {
	left:0; top:0;
	width:500px; height:180px;
	background: url(/itg/base/images/portal/main/bg_panel_servicelevelmgmt.png);
	vertical-align:top;
}
.panelServiceLevelScore {
	left:0; top:0;
	width:500px; height:180px;
	background: url(/itg/base/images/portal/main/bg_panel_servicelevelscore.png);
	vertical-align:top;
}
.panelChange {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_changeweek.png);
	vertical-align:top;
}
.panelChangeMonth {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_changemonth.png);
	vertical-align:top;
}
.panelRelease {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_releaseweek.png);
	vertical-align:top;
}
.panelReleaseMonth {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_releasemonth.png);
	vertical-align:top;
}
.panelEvent {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_event.png);
	vertical-align:top;
}
.panelEventMonth {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_eventmonth.png);
	vertical-align:top;
}
.panelRequestPerson {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_requestperson.png);
	vertical-align:top;
}
.panelRequestWeek {
	left:0; top:0;
	width:500px; height:185px;
	background: url(/itg/base/images/portal/main/bg_panel_requestweek.png);
	vertical-align:top;
}

.btnTitleMore {
	position:absolute;
	right:0; 
	padding: 11px 10px 0 0;
}
.panelBtn {
	left:0; top:0;
	width:270px; height:130px;
}
.panelBtnLeft {
	position:absolute;
	left:0; top:0;
	width:135px; height:130px;
}
.panelBtnRight {
	position:absolute;
	right:0; top:0;
	width:135px; height:130px;
}
.panelMyRequest {
	left:0; top:0;
	width:270px; height:170px;
	background: url(/itg/base/images/portal/main/bg_panel_myrequest.png);
	vertical-align:top;
}
.panelMyWork {
	left:0; top:0;
	width:270px; height:250px;
	background: url(/itg/base/images/portal/main/bg_panel_mywork.png);
	vertical-align:top;
}

.spanSearchInput {
	position:absolute;
	left:83px; top: 23px; }
input.search {
	width: 218px; height:30px;
	border-top:solid 1px #7a8f99 !important;
	border:solid 1px #a0b0b8;
	background-color: #b8c9d1;
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif; font-size:14px; color:#333; }
.spanSearchBtn {
	position:absolute;
	left:315px; top: 27px; }

.panelInsideNotice {
	padding:6px; }
.panelInsideBusiness {
	padding:127px 11px 11px 18px; }
.panelInsideServiceLevel {
	padding:48px 20px 11px 30px; }
.panelInsideGrid {
	padding:43px 11px 11px 11px; }
.panelInsideMyWork {
	padding:48px 20px 11px 115px; }

.tabNotice {
	width:100%;  }
.mainNoticeAll {
	padding: 12px 0 0 12px; }
.mainNoticeList {
	width: 355px; height: 25px; 
	background:url(/itg/base/images/portal/main/bullet_notice.png) no-repeat 0 5px; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	color:#333;
	text-align: left;
	padding-left:8px;
	margin-left: 8px;
	cursor: pointer;
}
.mainNoticeDate {
	position:absolute; right:17px }
.businessRowLeft {
	position:absolute;
	width: 33% }
.businessRowCenter {
	position:absolute;
	width: 33%; padding-left: 130px }
.businessRowRight {
	position:absolute;
	width: 33%; padding-left: 260px }
.businessList {
	width: 120px; height: 20px; 
	background:url(/itg/base/images/portal/main/bullet_notice.png) no-repeat 0 50%; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	line-height:20px;
	color:#444;
	text-align: left;
	padding-left:8px; }
.serviceLevelRowLeft {
	position:absolute;
	width: 130px; padding:47px 0 0 30px }
.serviceLevelRowRight {
	position:absolute;
	/*width: 305px;*/
	padding:47px 0 0 110px }
.serviceLevelSubTitle {
	height: 18px;
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 13px;
	font-weight:600; 
	line-height:16px;
	color:#666; }
.serviceLevelCurrentData {
	height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height:32px;
	color:#ff7700; }
.serviceLevelTargetData {
	height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height:32px;
	color:#00bb00; }
.serviceLevelDataUnit {
	height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height:32px;
	color:#888; }
.serviceLevelList {
	width: 390px; height: 30px; 
	background:url(/itg/base/images/portal/main/bullet_notice.png) no-repeat 0 42%; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	font-weight:600;
	line-height:25px;
	color:#444;
	text-align: left;
	padding-left:8px; }
.serviceLevelBar {
	position:absolute;
	line-height: 0px; 
	margin-top:4px; right:100px;
	width: 100px !important; height:17px !important;
	background-color:#b8c2cc;
	border: 1px solid #98a7b3; }
.myWorkList {
	width: 100%; height: 25px; 
	background:url(/itg/base/images/portal/main/bullet_notice.png) no-repeat 0 50%; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	font-weight:600;
	line-height:25px;
	color:#444;
	text-align: left;
	padding-left:8px; }
.myWorkData {
	position:absolute; right:15px; }
.myWorkDataNum {
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 21px;
	font-weight: normal;
	line-height:24px;
	color:#ff7700; }
.myWorkDataUnit {
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size: 12px;
	font-weight: normal; vertical-align:top;
	color:#777; }
	

/*datarid*/
.datagridTable {
	border:0; top:50px; }
.datagridHeader {
	height:30px;
	background:url(/itg/base/images/portal/main/bg_datagrid_header.png) top repeat-x; 
	border:0;
	border-right:1px solid #8cb5bd;
	text-align:center;
	font-size:13px; line-height:16px; font-weight:600; color:#fff; }
.datagridHeaderSecond {
	height:25px;
	background:url(/itg/base/images/portal/main/bg_datagrid_header_second.png) top repeat-x; 
	border:0;
	border-right:1px solid #8cb5bd;
	border-top:1px solid #8cb5bd;
	text-align:center;
	font-size:13px; line-height:16px; font-weight:600; color:#fff; }
.datagridCell {
	height:25px;margin:0;  padding:0;
	border:0;
	border-right:1px solid #f0f6f7;
	text-align:center;
	font-size:12px; line-height:15px; color:#222; }
.datagridCellDark {
	height:25px; margin:0;  padding:0;
	background:url(/itg/base/images/portal/main/bg_datagridCellDark.png); 
	border:0;
	border-right:1px solid #cfe2e5;
	text-align:center;
	font-size:12px; line-height:15px; color:#222; }
.datagridCellLevel00 {
	height:25px; margin:0;  padding:0;
	background:url(/itg/base/images/portal/main/bg_datagridCellDark.png); 
	border:0;
	border-right:1px solid #f0f6f7;
	text-align:center;
	font-size:12px; line-height:15px; color:#222; }
.datagridCellLevel03 {
	height:25px; margin:0;  padding:0;
	background:url(/itg/base/images/portal/main/bg_datagridCellLevel03.png); 
	border:0;
	border-right:1px solid #f0f6f7;
	text-align:center;
	font-size:12px; line-height:15px; color:#222; }
.datagridCellLevel02 {
	height:25px; margin:0;  padding:0;
	background:url(/itg/base/images/portal/main/bg_datagridCellLevel02.png); 
	border:0;
	border-right:1px solid #f0f6f7;
	text-align:center;
	font-size:12px; line-height:15px; color:#222; }
.datagridCellLevel01 {
	height:25px; margin:0;  padding:0;
	background:url(/itg/base/images/portal/main/bg_datagridCellLevel01.png); 
	border:0;
	border-right:1px solid #f0f6f7;
	text-align:center;
	font-size:12px; line-height:15px; color:#222; }
	
	
/* popup */
#divPopupHeader {
	height:36px; margin:0; 
	padding-left:12px; 
	background:url(/itg/base/images/portal/common/bg_popup_header.png) repeat-x; 
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum,  sans-serif;
	font-size:22px; font-weight:; line-height:41px; color:#fff; }
	
.x-btn-logout-toolbar-small {
  padding: 3px 2px 2px 3px;
  background-image: url(/itg/base/images/portal/common/portal_btn_logout.png);}
.x-btn-logout-toolbar-small-over {
  border-color: #476bb3;
  background-image: url(/itg/base/images/portal/common/portal_btn_logout.png);
  background-color: #7a95cb;}

.x-btn-option-toolbar-small {
  padding: 3px 2px 2px 3px;
  background-image: url(/itg/base/images/portal/common/portal_btn_set.png);}
.x-btn-option-toolbar-small-over {
  border-color: #476bb3;
  background-image: url(/itg/base/images/portal/common/portal_btn_set.png);
  background-color: #7a95cb;}





/*
	추가적인 css
*/
.panel-board-tab01-mouseover{
	background: url(/itg/base/images/portal/main/tab01_en.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab01-mouseout{
	background: url(/itg/base/images/portal/main/tab01_dis.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab02-mouseover{
	background: url(/itg/base/images/portal/main/tab02_en.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab02-mouseout{
	background: url(/itg/base/images/portal/main/tab02_dis.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab03-mouseover{
	background: url(/itg/base/images/portal/main/tab03_en.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab03-mouseout{
	background: url(/itg/base/images/portal/main/tab03_dis.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab04-mouseover{
	background: url(/itg/base/images/portal/main/tab04_en.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab04-mouseout{
	background: url(/itg/base/images/portal/main/tab04_dis.png) top no-repeat;
	cursor: pointer;
}
/* 2016-08-10 최양규추가 - KEDB 위젯탭버튼 추가 시작*/
.panel-board-tab05-mouseover{
	background: url(/itg/base/images/portal/main/tab05_en.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab05-mouseout{
	background: url(/itg/base/images/portal/main/tab05_dis.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab06-mouseover{
	background: url(/itg/base/images/portal/main/tab06_en.png) top no-repeat;
	cursor: pointer;
}
.panel-board-tab06-mouseout{
	background: url(/itg/base/images/portal/main/tab06_dis.png) top no-repeat;
	cursor: pointer;
}
/* 2016-08-10 최양규추가 - KEDB 위젯탭버튼 추가 끝*/

.x-panel-default{
	background-color: transparent;
	border: 0px;
}
.mywork-contents {
	background:url(/itg/base/images/portal/main/bg_panel_mywork.png) top no-repeat;
	border-width: 0px;
}
.panelHeader {
	background:url(/itg/base/images/portal/main/panel_title.png) top repeat-x;
	/*background:url(/itg/base/images/portal/main/panel_title_p1.png) top repeat-x;*/
	border-bottom-width: 0px;
}
/*
.x-panel-header-text {
	font-weight: bold;
	font-size: medium;
}
*/
.x-panel-header-default-framed-top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 4px 5px 4px 5px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  background-color: #f0f2f5;
}

.x-panel-default-framed {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}
.panelShadow{
	/*text-shadow: gray;*/
}

.x-portlet{
	z-index: 10;
}
