@CHARSET "UTF-8";
/* popup */
#divPopupHeader {
	height:36px; margin:0; 
	padding-left:12px; 
	background:url(/itg/base/images/portal/common/bg_popup_header.png) repeat-x; 
	font-family:'맑은 고딕', 'Malgun Gothic', sans-serif; 
	font-size:22px; font-weight:; line-height:41px; color:#fff;
}