
/* Reset */
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-size:12px;color:#000000}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#2f3743;text-decoration:none}
a:hover{color:#390;text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}


/* Common */
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
:root legend{margin-top:-1px;font-size:0;line-height:0}
.ir{display:block;overflow:hidden;position:relative;z-index:-1;/* height:11px; */font-size:11px;white-space:nowrap}
.entry-title{display:none}
.page{font-size:.95em !important;line-height:1em !important;text-align: right;}
.page a,.page span{display:-moz-inline-block;display:-moz-inline-box;display:inline-block;position:relative;margin-left:-5px;padding:3px;vertical-align:top}
.page a:hover{text-decoration:none}
.page a{overflow:hidden;z-index:1;height:14px}
.page .pre{padding-right:0; margin-right: 13px}
.page .next{padding-left:0; margin-left: 10px}
.page .num,.page .num span{margin-left:0px;padding:0}
.page .num{margin-top:4px;margin-right:5px;*margin-right:0;font-size:.9em;color:#b3b7bc;letter-spacing:-1px}
.page .num span{font-weight:bold}
.page .num em{font-weight:bold;color:#848689}
.shadow2{overflow:hidden;position:absolute;left:0;bottom:-3px;width:100%;height:2px;background:url(http://static.naver.net/www/bg_shadow_v3.png);_background:none;font-size:0;line-height:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.naver.net/www/bg_shadow_v3.png',sizingMethod='scale')}
.show{display:block}
.hide{display:none}



/* Header */
.lnb{overflow:visible;position:relative;z-index:100;height:100px;margin-bottom:3px}
.lnb h1{position:absolute;top:8px;right:630px}
.lnb h1.special{top:0}
.lnb h1 a{display:block;color:#3eaf0e}
.lnb h1 object a{padding:10px 10px 0 0;font-size:20px;line-height:1.4em}


/* Layout */
#wrap{min-width:880px}
#header{z-index:100;width:100%}
#container,#footer,.lnb{width:880px;margin:0 auto;text-align:left}
#container:after{display:block;clear:both;content:''}
#column_left{float:left;width:550px}
#column_right{float:right;/* position:relative; */width:330px}


/* main_content */
.content{clear:both;position:relative;width:545px;margin:0 0 5px}



#main_content{z-index:5}
.content:after{display:block;clear:both;content:''}
.content_atc{overflow:hidden;width:450px;margin:13px 0 11px}


.content_atc li{overflow:hidden;height:19px;padding-left:7px;background:url(http://static.naver.net/www/sp_rgt20120725.png) no-repeat 0 -170px;line-height:19px}
.content_atc li .ctg a:visited{color:#788eb7 !important}


.content_cnt{overflow:hidden;position:relative;width:530px;height:210px;border:1px solid #d6d6d6;background-color:#:fff}

.content_cnt h2{margin:14px 0 0 15px}
.content_cnt h2 a,.cast2 h2 a{display:block;height:14px;background-image:url(http://static.naver.net/www/sp_main20120726v1.png);letter-spacing:-1px}
.content_cnt h2 a:hover,.cast2 h2 a:hover{text-decoration:none}

.content_cate{position:absolute;top:14px;left:75px;z-index:1;line-height:13px}
.content_cate li{float:left;margin-right:5px;font-size:11px;color:#ddd;letter-spacing:-1px}
.content_cate a,.cast_cate a:hover{margin-left:5px;color:#6b6d70}
.content_cate .on a{font-weight:bold;color:#2f3743}
.page{margin-right:15px;}
.page a{width:19px;background-image:url(http://static.naver.net/www/sp_main20120726v1.png)}
.page .pre{background-position:-317px -117px}
.page .next{background-position:-338px -117px}

.content_article{overflow:hidden;width:450px;padding-left:30px}


.content_article .shadow2{_width:auto}


/* sub_content */
.s_content{clear:both;position:relative;width:320px;}
#sub_content{z-index:5}
.s_content_atc{overflow:hidden;width:290px;margin:13px 0 11px}
.s_content_atc li{background:none}

.s_content_cnt{overflow:hidden;position:relative;width:318px;height:160px;border:1px solid #d6d6d6;background-color:#:fff}
.s_content_cnt h2{margin:14px 0 0 15px}
.s_content_cnt h2 a,.cast2 h2 a{display:block;height:14px;background-image:url(http://static.naver.net/www/sp_main20120726v1.png);letter-spacing:-1px}
.s_content_cnt h2 a:hover,.cast2 h2 a:hover{text-decoration:none}
.s_content_cnt .page{}
.s_content_cnt .page a{width:19px;background-image:url(http://static.naver.net/www/sp_main20120726v1.png)}
.s_content_cnt .page .pre{background-position:-317px -117px}
.s_content_cnt .page .next{background-position:-338px -117px}

.s_content_article{overflow:hidden;width:290px;padding-left:15px}

.ctg{margin-left:4px; margin-right:4px; font-size:11px;line-height:13px;color:#788eb7;letter-spacing:-1px}
.ctg a,.ctg a:visited,.ctg a:hover{color:#788eb7 !important}
.atc_p .ctg{margin:0}
.atc_cnts{overflow:hidden;width:100%}



/* footer */
#footer{overflow:hidden;clear:both;position:relative;padding-bottom:30px;border-top:3px solid #636870;letter-spacing:-1px}
#footer a,.notice a,.policy a{color:#6b6d70}
#footer a:hover{color:#390}
.policy,.policy dt,.policy dd,address{_display:inline;float:left;white-space:nowrap}
#footer .notice a:visited{color:#6e4987}
.policy{clear:both;padding:22px 0 0 84px}
.policy dd{padding-left:14px;background:url(http://static.naver.net/www/sp_rgt20120725.png) no-repeat 7px -90px;color:#848689}
.policy .f{padding-left:0;background:none}
address{padding:22px 0 0 20px;_padding-top:21px;color:#6b6d70;letter-spacing:0}
address strong a:hover{color:#009bc8 !important}



/* minime */
.com_cast{position:relative;z-index:12;width:330px; margin-bottom: 10px;}
.ccuser{position:relative;z-index:6;width:328px;height:210px;border:1px solid #bfc1c4;background:#f3f4f3;letter-spacing:-1px;}
.user{position:relative;z-index:13;width:211px;height:28px}
.user_info{position:absolute;top:10px;left:15px;}
.user .lkbtn{float:left;font-weight:bold}
.user a.lkbtn:hover{color:#2f3743}
.user .login_set{overflow:hidden;float:left;width:13px;height:12px;margin:0 0 0 3px;background:url(http://static.naver.net/www/sp_main20120726v1.png) no-repeat -380px -40px;font-size:0;line-height:0;text-indent:-1000em}
.user .login_on{overflow:hidden;float:left;width:17px;height:12px;margin:0 0 0 6px;background:url(http://static.naver.net/www/sp_main20120726v1.png) no-repeat -380px 0;font-size:0;line-height:0;text-indent:-1000em}
.user .cc_help{top:19px;left:0;z-index:6;width:188px;padding:4px 0 7px;line-height:13px}
.user .cc_help dd strong{line-height:23px;color:#6d6d70}
.user .arrow{position:absolute;top:14px;right:2px;z-index:7;width:11px;height:7px;background:#fff url(http://static.naver.net/www/sp_main20120726v1.png) no-repeat -150px -110px;font-size:0;line-height:0}
.myinfo{overflow:hidden;position:absolute;top:7px;right:16px;width:51px;height:18px;font-size:11px}
.myinfo a.btn_logout{display:block;overflow:hidden;width:51px;height:18px;border:0;background:url(http://static.naver.net/www/sp_main20120726v1.png) no-repeat -230px -120px;font-size:0;line-height:0;text-indent:-1000em}
.myinfo button.btn_logout{width:51px;height:18px;border:0;background:url(http://static.naver.net/www/sp_main20120726v1.png) no-repeat -230px -120px}
.myinfo .btn_logout span{width:100%;height:16px;border:1px solid #d1d1d1;background:#f6f7f8;line-height:16px;color:#84868b;text-align:center}