#container {
    width:750px;
    height:300px;
    border:3px solid #c3daf9;
}

.calendar {
    background-image:url(../../resources/themes/images/default/shared/calendar.gif) !important;
}

.blist {
    background-image: url(list-items.gif) !important;
}

.bmenu {
    background-image: url(menu-show.gif) !important;
}

.menu-title{
    background: #e9ebf0;
    border-style: solid;
    border-color:#DAE6F4 #99bbe8 #99bbe8 #DAE6F4;
    border-width: 0px;
    margin:-2px -2px 0;
    color: #555555;
    font-size: 11px; font-weight: 600; /*font: bold 10px;*/
    display: block;
    padding: 4px 4px 2px 4px;
}

.user {
    background-image:url(../shared/icons/fam/user.gif) !important
}
.edit {
    background-image:url(../toolbar/images/im32x32.gif) !important;
}
.add {
    background-image:url(../button/images/add.gif) !important;
}