/**
#loading-mask{
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     z-index:20000;
     background-color:white;
}
#loading{
     position:absolute;
     left:45%;
     top:45%;
     padding:2px;
     z-index:20001;
     height:auto;
}
#loading a {
     color:#225588;
}
#loading .loading-indicator{
     background:white;
     color:#444;
     font:bold 13px tahoma,arial,helvetica;
     padding:10px;
     margin:0;
     height:auto;
}
#loading-msg {
     font: normal 10px arial,tahoma,sans-serif; 
}
*/

#loading-mask{
	z-index: 100;
  	position: absolute;
  	top: 0;
  	left: 0;
  	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  	opacity: 0.2;
  	width: 100%;
  	height: 100%;
 	zoom: 1;
  	background: #cccccc; 
}
#loading{
	z-index: 20001;
  	position: absolute;
	top:45%;
	left:45%;
  	padding: 2px;
  	border: 1px solid;
  	border-color: #d0d0d0;
  	background-image: none;
  	background-color: #e0e0e0;
}
#loading a {
     color:#225588;
}
#loading .loading-indicator{
	padding: 5px 10px 5px 25px;
   	background-image: url('../../component/ext-4.1.1a/resources/themes/images/simple/grid/loading.gif');
   	background-repeat: no-repeat;
   	background-position: 5px center;
   	cursor: wait;
   	border: 1px solid #b3b3b3;
   	background-color: #eeeeee;
   	color: #666666;
   	font: normal 11px 'Nanum Gothic', '나눔고딕', NanumGothic, '맑은 고딕', 'Malgun Gothic', sans-serif;}
}
#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}


.field-highlight{
	font-weight:bold; 
	background: rgb(244,246,247);
	background: -moz-linear-gradient(-45deg,  rgba(244,246,247,1) 0%, rgba(235,241,244,1) 41%, rgba(222,236,242,1) 84%, rgba(222,234,239,1) 84%, rgba(230,240,247,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(244,246,247,1)), color-stop(41%,rgba(235,241,244,1)), color-stop(84%,rgba(222,236,242,1)), color-stop(84%,rgba(222,234,239,1)), color-stop(100%,rgba(230,240,247,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(244,246,247,1) 0%,rgba(235,241,244,1) 41%,rgba(222,236,242,1) 84%,rgba(222,234,239,1) 84%,rgba(230,240,247,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(244,246,247,1) 0%,rgba(235,241,244,1) 41%,rgba(222,236,242,1) 84%,rgba(222,234,239,1) 84%,rgba(230,240,247,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(244,246,247,1) 0%,rgba(235,241,244,1) 41%,rgba(222,236,242,1) 84%,rgba(222,234,239,1) 84%,rgba(230,240,247,1) 100%);
	background: linear-gradient(135deg,  rgba(244,246,247,1) 0%,rgba(235,241,244,1) 41%,rgba(222,236,242,1) 84%,rgba(222,234,239,1) 84%,rgba(230,240,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6f7', endColorstr='#e6f0f7',GradientType=1 );
	text-indent: 5px;
	text-shadow: 1px 1px 3px #aad;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	color: #47e;
	box-shadow: 3px 3px 3px #eef;
	font-size: 10pt;
	text-transform:uppercase;
	border-radius:5px;
}
	
.field-readonly-block{
 	background-color: #eeeeee !important;
    background-image: none !important;
	/*background-color: #FFFFFF !important; 
	background-image: none !important; 
	border-color: #FFFFFF !important; 
	border-bottom: 1px solid #EEEEEE !important; 
 	font-weight: bold !important;
	color: MidnightBlue !important;
	width: 100% !important;*/
}

.field-readonly-underline{
	background-color: #FFFFFF !important; 
	background-image: none !important; 
	border-color: #FFFFFF !important;  
	border-bottom: 1px solid #EEEEEE !important; 
	color: MidnightBlue !important;
	width: 100% !important;
}

.field-readonly-underline2{
	background-color: #FFFFFF !important; 
	background-image: none !important; 
	border-color: #FFFFFF !important;  
	border-bottom: 1px solid #EEEEEE !important; 
	color: MidnightBlue !important;
	width: 100% !important;
}

.field-readonly-highlight{
	background-color: #FFFFFF !important; 
	background-image: none !important; 
	border-color: #FFFFFF !important; 
	border-bottom: 1px solid #AAAAAA !important; 
	color: MidnightBlue !important;
	width: 100% !important;
}

.field-readonly-validation{
	background-color: #FFFFFF !important; 
	background-image: none !important; 
	border-color: #FFFFFF !important; 
	border-bottom: 1px solid #ff0055 !important; 
	color: MidnightBlue !important;
	width: 100% !important;
}

.ad_sw_y{
    font-weight:600 !important;
    color:#002D93 !important;
}
  
.ad_sw_n{
    font-weight:600 !important;
    color:#CCA63D !important;
}

.product_family_y{
    font-weight:600 !important;
    color:blue !important;
}

.use_y{
    font-weight:600 !important;
    color:#002D93 !important;
}

.use_n{
	font-weight:600 !important;
    color:#CFCFCF !important;
}

tr.custom-summary-grid1 { 
    background-color: #E8FFFF !important;
}

tr.custom-summary-grid2 { 
    background-color: #92FFFF !important;
}

tr.custom-summary-grid3 { 
    background-color: #B2EBF4 !important;
}

tr.custom-summary-grid4 { 
    background-color: #A0D9E2 !important;
}

tr.custom-summary-grid5 { 
    background-color: #a0a0a0 !important;
}

td.custom-summary-cell {
	border-width: 1px 1px 1px 0 !important;
	border-bottom-color: #CDCDCD !important;
	border-bottom-style: solid !important;
	border-right-color: #CDCDCD !important;
	border-right-style: solid !important;
}

.custom-fieldset {
	border : 1px solid #b5b8c8 !important;
	padding : 0 10px !important;
	margin : 0 0 10px !important;
}

.custom-fieldset-collapsed {
	padding-bottom: 0 !important;
	border-width: 1px 1px 0 1px !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
}
 
.form-border {
	border-bottom: 2px solid #151414 !important;
}

.commentHistory { 
	padding: 3px 3px;
	border: 1px solid;
	background-color: #edf3ff;
	background-image: none; /*url('../../resources/themes/images/simple/form/text-bg.gif');*/
	border-color: #ccc; }
	
.commentCurrentText { font-size:13px; font-weight: 600; }
.commentText { font-weight: 600; }