﻿@charset "utf-8";

@import url(fonts/nanumgothic.css);


/* default */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,p { margin:0; padding:0; font-size:100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
body 	{ font-size:0.75em; font-family:'Nanum Gothic', '나눔고딕', NanumGothic, Arial, sans-serif; line-height:120%; }
table 	{ border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; color:inherit; cursor:pointer; }
legend, caption { display:none; }
ol,ul 	{ list-style:none; }
button, input, textarea, select { font-family:'Nanum Gothic', '나눔고딕', NanumGothic; }
img, button, input, select { vertical-align:middle; }


/* 실제 적용시 상단부분 전체 삭제*/


.link {
	fill: none;
	stroke: #000;
	stroke-width: 1.2px;
	stroke-opacity: 1;}
.link_highlight {
	fill: none;
	stroke: #000;
	stroke-width: 1.2px;
	stroke-opacity: 1.0;}
	
.link.equal {
	stroke: #4499ff; }
.link.parent {
	stroke: #00bb00; }
.link.child {
	stroke: #ff9900; }  
	
.link.equal_dotted {
	stroke: #4499ff;
	stroke-dasharray: 10;
	stroke-dashoffset: 0; }
.link.parent_dotted {
	stroke: #00bb00;
	stroke-dasharray: 10;
	stroke-dashoffset: 0; }
.link.child_dotted {
	stroke: #ff9900;
	stroke-dasharray: 10;
	stroke-dashoffset: 0; }

.text_normal {
	font-size: 11px;
	fill: #222;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;}

.text_underline {
	font-size: 11px;
	fill: #4559e9;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	text-decoration: none;}

.sArrow {
	fill: #00bb00;}	
.eArrow {
	fill: #ff9900;}
	
.tooltip {
	position: absolute;
	-moz-border-radius:3px;
	border-radius: 3px;
	border: 1px solid #999;
	background: #ddff99;
	opacity: 1;
	color: #333;
	padding: 3px 5px 3px 5px;
	font-size: 11px;
	z-index: 1000;}
