    @charset "utf-8"

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/KoPubDotumLight.eot');
  src: url('../fonts/KoPubDotumLight.woff2') format('woff2'),
       url('../fontsfonts/KoPubDotumLight.woff') format('woff'),
       url('../fonts/KoPubDotumLight.ttf') format('truetype'),
       url('../fonts/KoPubDotumLight.svg#KoPubDotumLight') format('svg'),
       url('../fonts/KoPubDotumLight.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/KoPubDotumMedium.eot');
  src: url('../fonts/KoPubDotumMedium.woff2') format('woff2'),
       url('../fonts/KoPubDotumMedium.woff') format('woff'),
       url('../fonts/KoPubDotumMedium.ttf') format('truetype'),
       url('../fonts/KoPubDotumMedium.svg#KoPubDotumMedium') format('svg'),
       url('../fonts/KoPubDotumMedium.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/KoPubDotumBold.eot');
  src: url('../fonts/KoPubDotumBold.woff2') format('woff2'),
       url('../fonts/KoPubDotumBold.woff') format('woff'),
       url('../fonts/KoPubDotumBold.ttf') format('truetype'),
       url('../fonts/KoPubDotumBold.svg#KoPubDotumBold') format('svg'),
       url('../fonts/KoPubDotumBold.eot?#iefix') format('embedded-opentype');
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*======================페이지 공통=======================*/
* {
    /* font-family: 'KoPub Dotum', sans-serif !important; */
    margin: auto;
    padding: 0;
}

table{
    border-collapse: collapse;
    border-radius: 3px;
    border-spacing: 0;
}

body {
    margin : 0px 0px;
    font-size: 1em;
}

a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #666 !important;
}


li{
    list-style: none;
}

.container-wrapped{
    min-width: 1220px;
}

table{
    border: 1px solid rgba(34,36,38,.1);
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background: #fff;
}

/*table tr:first-child>th:first-child{
    border-radius: 3px 0 0 0;
}*/

/*table tr:first-child>th:last-child{
    border-radius: 0 3px 0 0;
}
*/

/*======================페이지 공통=======================*/

.leftBox{
    width: 68.8%;
    margin-left: 0.4rem;
    margin-right: 0.3rem;
    float: left;
}

.rightBox{
    float: left;
    width: 29.6%;
    margin-left: 0.2rem;
}

.work,
.request{
    float: left;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.progress{
    width:120px;
    min-width:120px;
}

.requestDay{
    width: 150px;
    min-width:150px;
}

.more a{
    float: right;
    font-size: 11px;
    color: #747474 !important;
    line-height: 20px;
}

.more a:hover{
    color: rgba(116,116,116, 0.5) !important;
}

.more a h2{
    background-repeat: no-repeat;
    background-image: url(../images/more_arrow.png);
    width: 10px;
    height: 10px;
    float: right;
    background-position: center;
    padding: 4px 5px;
}

.more a h2:hover{
    opacity: 0.7;
}

.work img,
.request img{
    /*width: 1.1em;*/
}

.workImg img:last-child,
.requestImg img:last-child{
    display: none;
}
.workImg:hover img:first-child,
.requestImg:hover img:first-child{
    display: none;
}
.workImg:hover img:last-child,
.requestImg:hover img:last-child{
    display: inline-block;
}

.work{
    width: 100%;
    margin-right: 0.4rem;
}

.request{
    width: 100%;
}

.refreshBox{
    background: #dcdada;
    color: #fff;
    margin: 0 0px 5px 0px;
    height: 22px;
    border-bottom: solid 1px #68807a;
}

.refreshBox i{
	float: right;
    padding-right: 19px;
    padding-top: 1px;
    font-size: 21px;
    color: #5d606b;
}


.refreshBox button{
/*    
	width: 30px;
    height: 30px;
    background-image: url(/itg/base/images/main/refresh.png);
    background-repeat: no-repeat;
*/
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.refreshBox v:hover{
    opacity: 0.95;
}
table button{
    padding: 0px 25px;
    border-radius: 2px;
    height: 23px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
	background-color: #555;
	font-size: 12px;
	font-weight: bold;
	border: none;
    /*
    border: solid 1px #999;
  	background-color: #4184b7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #44aaff), color-stop(97%, #0088ff));
    background-image: -webkit-linear-gradien(top, #44aaff 3%, #0088ff 97%);
    background-image: -moz-linear-gradient(top, #44aaff 3%, #0088ff 97%);
    background-image: -ms-linear-gradient(top, #44aaff 3%, #0088ff 97%);
    background-image: -o-linear-gradient(top, #44aaff 3%, #0088ff 97%);
    background-image: linear-gradient(top, #44aaff 3%, #0088ff 97%);
    */
    border-color: #5a8db5;
}

table button:hover{
	/*
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #44aaff), color-stop(57%, #0088ff));
    background-image: -webkit-linear-gradien(top, #44aaff 3%, #0088ff 57%);
    background-image: -moz-linear-gradient(top, #44aaff 3%, #0088ff 57%);
    background-image: -ms-linear-gradient(top, #44aaff 3%, #0088ff 57%);
    background-image: -o-linear-gradient(top, #44aaff 3%, #0088ff 57%);
    background-image: linear-gradient(top, #44aaff 3%, #0088ff 57%);
    */
    background-color: rgba(85, 85, 85, .9);
}



.work td,
.request td{
    width: 33.3%;
    border-radius: 3px;
}

.status{
    border-top: 1px solid rgba(34,36,38,.1);
    height: 40px;
    color: #fff;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.75);
}

.work{
    /* background: #3A7F81; */
    background: #2acd72;
}

.workList{
    /* background: #666; */
    float: left;
    width: 100%;
    text-align: center;
}

.workList tr td{
    border-top: 1px solid rgba(34,36,38,.1);
    padding: 0.3rem;
}

.workList tfoot tr:last-child td{
    border-radius: 0 0 3px 3px;
}

.workList tr:last-child td{
    padding: 0.3rem;
}

.title02{
    background: #f9fafb;
    color: #111;
    padding: 0.5rem 0;
    font-weight: bold;
    border-top: 1px solid rgba(34,36,38,.1);
    border-bottom: 1px solid rgba(34,36,38,.1);
}

.workList select,
.workList input{
    border-radius: 3px !important;
    border: 1px solid #ddd;
    /*width: 150px;*/
    height: 30px;
    margin: 0 5px;
    padding: 0 5px;
}

.workList input{
    height: 22px !important;
	line-height: 24px; 
    position: relative;
/*    bottom: 2px;*/
}


.value{
    font-weight: 600;
    font-size: 1.3em;
    padding: 0 0 1.5rem 0;
}

.value a{
    color: #fff !important;
}

.value a:hover{
    color: rgba(255,255,255,0.49) !important;
}

.request{
	/* background: #984165; */
    background: #54adef;
}

.title01{
    color: rgba(255,255,255,0.75) ;
    text-align: left;
    text-indent: 5px;
    font-weight: bold;
    font-size: 14px;
    padding: 0.8rem 0.5rem 1.2rem 0.5rem;
}

.title02 td{
    border-right: 1px solid rgba(34,36,38,.1);
}

.title02 td:last-child{
    border-right-width: 0 !important;
}

.mainTitle01{
    background: #f9fafb;
    text-align: left;
    padding: 1px 4px;
    line-height: 30px;
    border-bottom: solid 1px rgba(218,218,218,1);
}

.mainTitle01 span{
    padding-left: 10px;
    font-weight: bold !important;
}

.formWrapper{
    float: right;
}

.paginationWrap .list{
    border-top: 1px solid rgba(34,36,38,0.06);
}

.paginationWrap .pagination{
    text-align: center;
    display: inline-table;
    position: relative;
    top: 0px;
}

.pagination .active.item{a
    color: #984165 !important;
    font-weight: 600;
}

.pagination a{
    color: black;
    float: left;
    padding: 5px 6px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.item.arrow{
    width: 0px;
    height: 5px;
    background-position: center;
    position: relative;
    margin: 0 2px;
    top: 6px;
}

.pagination a.item.arrow:hover{
    opacity: 0.5;
}

.pagination a.item.arrow.Left{
    background-image: url(../images/backward-left.png);
    background-repeat: no-repeat;
}

.pagination a.item.arrow.MiniLeft{
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
}

.pagination a.item.arrow.MiniRight{
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
}

.pagination a.item.arrow.Right{
    background-image: url(../images/backward-right.png);
    background-repeat: no-repeat;
}
.srid{
    /*text-overflow: ellipsis;*/
    min-width:110px; 
    width: 110px;
    max-width:110px;
    /*display: block;*/
    /*overflow: hidden;*/
    color: #41464C;
}
.reqtype{
    /*text-overflow: ellipsis;*/
    min-width:120px; 
    width: 120px;
    /*display: block; */
    /*overflow: hidden;*/
    color: #41464C;
}
.list{
    text-align: left;
}

.list a{
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width:120px; 
    width: 300px;
    /*max-width: 100%;*/
    float: left;
    display: block;
    overflow: hidden;
    text-align: left;
    color: #41464C;
}

.sectionbar{
    background: #F9F9F9;
    color: #111;
    font-weight: bold;
    text-align: center;
   /* padding: 0.52em 1em; */
   	padding: 0.2em 1em;
    border-radius: 3px;
    border: 1px solid rgba(34,36,38,.15);
    font-size: 13px;
    margin-bottom: 0.5rem;
}

.bar{
    width: 100%;
    height: 20px;
    background: #ddd;
    border-radius: 3px;
}

.bar .gauge{
    height: 20px;
    width: 0;
    background: #46d06b;
/*     position: absolute; */
    border-radius: 3px;
}

.gaugeValue{
    padding-top: 5px;
    font-weight: bold;
}

.gaugeValue .start{
    float: left;
}

.gaugeValue .end{
    float: right;
}

.blueColor{
    color: #c57d68;
}
.redColor{
    color: #984165;
}

.processStatus tr td{
    padding: 0.3rem;
    border-top: 1px solid rgba(34,36,38,.1);
    text-align: center;
    font-weight: 600;
}

.processStatus thead th{
    text-align: center !important;
    font-weight: bold;
    background: #f9fafb;
    padding: 0.3rem;
    border-right: 1px solid rgba(34,36,38,.15);
}

.processStatus thead tr th:first-child{
    border-radius: 0.2rem 0 0 0;
}

.processStatus tbody tr:last-child td:first-child{
    border-radius: 0 0 0 0.2rem;
}

.processStatus tbody tr:last-child td:last-child{
    border-radius: 0 0 0.2rem  0;
}

.processStatus thead tr th:last-child{
    border-radius: 0 0.2rem 0 0;
    border-right-width : 0;
}

.division{
    text-align: left !important;
}

.notice{
    padding-left: 4rem;
}

.noticeList{
    border-radius: 3px;
    background: #fff;
    border: solid 1px #ddd;
    padding: 0.5rem 1rem;
    font-size: 0.8em;
}


.noticeList,
.satisfaction,
.processStatus{
    margin-bottom: 10px;
}


.noticeList li{
    line-height: 25px;
}

.noticeTitle{
    float: left;
    width: 70%;
}

.noticeTitle a{
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 90%;
    width: 100%;
    font-size: 0.9em;
    float: left;
    display: block;
    overflow: hidden;
    text-align: left;
}

.noticeDate{
    text-align: right;
}

.satisfaction{
    text-align: center !important;
    color: #617389 !important;
    padding: 20px;
}

.satisfaction thead th{
    background: transparent !important;
    border-bottom: 0 !important;
    color: #617389 !important;
    font-weight: 400;
    padding: 15px;
    border-radius: 3px 3px 0 0;
    position: relative;
}


.satisfaction tbody td{
    width: 20%;
}



.satisfaction tbody tr:last-child td{
    border-radius: 0 0 3px 3px;
}

.satisfaction tbody tr:last-child td{
    padding: 0 0 10px 0;
}

.level{
    font-size: 0.9em;
}

.levelIcon{
    font-weight: bold;
    line-height: 30px;
}

.satisfaction img{
    display: inline-block;
    margin-top: .14285714em;
    width: 2.3em;
    height: auto;
    vertical-align: middle;
}

/*====================ie hack====================*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .workList .title02 td{
        padding: 9px 0 10px 0 !important;
    }

    .workList td{
        padding: 0.35rem !important;
    }

    .work{
        margin-right: 0.3rem;
    }

    .more a h2{
        padding: 6px 5px;
    }

    .value{
        font-weight: 600;
        font-size: 1.3em;
        padding: 0 0 1.5rem 0;
    }

    .paginationWrap .pagination{
        text-align: center;
        display: inline-table;
        position: relative;
        top: 3px;
        line-height: 22px;
    }

    .pagination a.item.arrow{
        top: 8px;
    }

    .sectionbar{
        padding: 0.63em 1em;
    }
}
/*====================ie hack====================*/
