@charset "utf-8";

/*    Reset CSS  */

@import url(../NotoSans/font.css);

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{
   margin:0;
   padding:0;
   font:15px/1.5 'Nanum Gothic', '나눔고딕', NanumGothic, '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, arial, tahoma, sans-serif;
   color:#111;
   letter-spacing:-0.5px;
   word-break:keep-all
}
b, span, strong, input, a, button{font-size:inherit;font-family:inherit;color:inherit}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite{display:inline}
html, body {height:100%;} 
body {margin:0px;}
a:link {text-decoration:none;} 
a:visited {text-decoration:none;}
img{border:0;max-width:100%}
label, input, textarea, select{vertical-align:middle}
ol, ul{list-style:none;} 
table{border-collapse:collapse;table-layout:fixed;}
table th,
table td{word-break:break-all}
fieldset{border:none}
.skip, hr, legend{position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button{margin:0;padding:0;border:none;background:none;outline:none;cursor:pointer;display:inline-block;}

/* content1 */
.container-wrap{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   min-width: 1100px;
}
.section{
   clear: both;
   width: 100%;
   height: auto;
}
#main{
   width: 100%;
   padding: 20px;
}
.visual{
   width: 65%;
   height: 327px;
   background-image: url(../images/main/bg.png);
   top: 0px;
   left: 0px;
   opacity: 1;
   display: inline-block;
   background-size: cover;
}
.visual h1{
   color: #fff;
   font-size: 65px;
   text-align: center;
   padding: 100px 0 0 0;
   text-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 1px 25px rgba(0, 0, 0, .75);
}
.visual p{
   color: #fff;
   text-align: center;
}
.myMenu{
   width: 35%;
   height: 210px;
   float: right;
   box-sizing: border-box;
   clear: both;
}
.boxTitle{
   font-size: 16px;
   padding-left: 20px;
}
.col-left{
   width: 30%;
   box-sizing: border-box;
   display: inline-block;
   vertical-align: middle;
   padding-left: 20px;
   height: 140px;
   position: relative;
}
.col-left p{
   position: relative;
   box-sizing: border-box;
   width: 95%;
   height: 140px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 15px;
   border: 2px solid #e5e5e5;
   text-align: center;
}
.col-left p span{
   display: inline-block;
   margin: 40px 0 10px 0;
}
.col-left p b{
   display: block;
   font-size: 30px;
}
.col-right{
   width: 70%;
   float: right;
   clear: both;
}
.adminTable{
   width: 100%;
}
.adminTable tr:after{
   content: '';
   position: absolute;
   left: 50%;
   top: 113px;
   width: 70%;
   height: 3px;
   border-radius: 50px;
   background: #e3e3e3;
   z-index: -1;
   margin-left: -35%;
}
.adminTable td{
   padding-bottom: 0px;
}
.adminTable tr td img{
   text-align: center;
}
.adminTable tr td{
   text-align: center;
}
.adminTable tr span{
   width: 38px;
   height: 38px;
   border-radius: 50%;
   background-color: #0067b3;
   display: inline-block;
   color: #fff;
   font-size: 16px;
   line-height: 38px;
   text-align: center;
   margin-top: 20px;
}
.adminTable tr span a{
   text-decoration:none;
   color: #fff;
}
.boxwrap{
   position: relative;
}
#process_bar{
   width: 400px;
   height: 3px;
   background: #e1e1e1;
   position: absolute;
   top: 250px;
   left: 0;
   border-radius: 50px;
}

.col-right2{
   width: 70%;
   float: right;
   clear: both;
}
.adminTable2{
   width: 100%;
}
.adminTable2 tr:after{
   content: '';
   position: absolute;
   left: 50%;
   top: 113px;
   width: 25%;
   height: 3px;
   border-radius: 50px;
   background: #e3e3e3;
   z-index: -1;
   margin-left: -35%;
}

.adminTable2 td{
   padding-bottom: 0px;
}
.adminTable2 tr td img{
   text-align: center;
}
.adminTable2 tr td{
   text-align: center;
}
.adminTable2 tr span{
   width: 38px;
   height: 38px;
   border-radius: 50%;
   background-color: #6799FF;
   display: inline-block;
   color: #fff;
   font-size: 16px;
   line-height: 38px;
   text-align: center;
   margin-top: 20px;
}
.adminTable2 tr span a{
   text-decoration:none;
   color: #fff;
}
.boxwrap2{
   position: relative;
}
#process_bar2{
   width: 400px;
   height: 3px;
   background: #e1e1e1;
   position: absolute;
   top: 250px;
   left: 0;
   border-radius: 50px;
}


/* content2 */
.content2{
   width: 100%;
   margin-top: 20px;
}
.content2:after {
   content: "";
   display: block;
   clear: both;
}
.content2 div{
   width: 49.5%;
   float: left;
   position: relative;
}
.content2 div:nth-child(1){
   margin-right: 1%;
}
.notice ul{
   width: 100%;
   height: 100px;
   padding: 10px;
   border: 2px solid #e5e5e5;
}
.notice ul li{
   padding: 2px 10px;
   overflow:hidden;
   white-space : nowrap;
   text-overflow: ellipsis;
}
.notice h2{
   font-size: 15px;
   font-family: 'Noto Sans KR';
}
.notice time{
   font-size: 14px;
   color: #999;
}
.notice a{
   font-size: 13px;
   color: #111;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   margin-left: 40px;
}
.notice .more{
   position: absolute;
   top: 5px;
   right: 5px;
}


/* content3 */
.content3{
   width: 100%;
   margin-top: 20px;
   clear: left;
}
.content3 .menu-wrap{
   position: relative;
   width: 100%;
   height: 140px;
   background-color: #0067b3;
   clear: both;
}
.menu-wrap .menu{
   position: relative;
   width: 99%;
   height: 190px;
   margin: 0 auto;
   overflow: hidden;
}
.menu-wrap .menu .gnb{
   position: absolute;
   width: 100%;
	margin:0 auto;
   box-sizing:border-box;
   font-size:0;
   text-align:center;

}

.menu-wrap .menu .gnb > li{
   position: relative;
   display: inline-block;
   /*width: 12.5%;*/
   width: 10%;
   height: 190px;
   box-sizing:border-box;
   vertical-align:top;
   transition: 0.2s;
}
/* .menu-wrap .menu .gnb > li:hover:after,  */
.menu-wrap .menu .gnb > li:not(:last-child).active:after {
   z-index: 100;
   content: "";
   position: absolute;
   left: 50%;
   bottom: -50px;
   display: block;
   width: 50px;
   height: 50px;
   margin-left: -25px;
   background: url(../images/main/arrow.png) no-repeat 50% 50%;
}


/* .menu-wrap .menu .gnb > li:hover,  */
.menu-wrap .menu .gnb > li.active {
   cursor: pointer;
   height: 140px;
   background: rgba(0, 0, 0, .15);
   opacity: 1;
}

.content3 ul li a .img{
   text-align: center;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   background-color: #fff;
   display: block;
   margin: 0 auto;
   margin-top: 20px;
}
.content3 ul li a img{
   margin-top: 15px;
}
.content3 ul li a .txt{
   color: #fff;
   font-size: 14px;
   text-align: center;
   height: 20px;
   z-index: 10;
   line-height: 20px;
   font-weight: 600;
}

/* arrow-wrap */
.arrow-wrap {
   width: 100%;
   height: 100%;
}
.arrow-wrap button {
   position: absolute;
   top: 50%;
   color: #fff;
   margin-top: -12.5px;
   opacity: 0.6;
   transition: all ease .2s;
}
.arrow-wrap button:hover {
   opacity: 1;
}
.arrow-wrap button:first-child {
   left: 2%;
}
.arrow-wrap button:first-child span {
   display: block;
   width: 25px;
   height: 25px;
   border-width: 2px 0 0 2px;
   border-color: #fff;
   border-style: solid;
   transform: rotate(-45deg);
}
.arrow-wrap button:last-child {
   right: 2%;
}
.arrow-wrap button:last-child span {
   display: block;
   width: 25px;
   height: 25px;
   border-width: 2px 2px 0 0;
   border-color: #fff;
   border-style: solid;
   transform: rotate(45deg);
}


/* table-wrap */
.table-wrap {
   position: relative;
   min-height: 175px;
   max-height: 175px;
   margin-top: 50px;
   overflow-y: scroll;
}
.table-wrap > div{
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   box-sizing: border-box;
   text-align: left;
}


.table-wrap > div .listTable{
   width: 100%;
   margin-left: -1;
}
.table-wrap > div .listTable th {
   padding: 5px 0;
   height: 40px;
   border: 1px solid #e5e5e5;
   border-right: 0;
   color: #333;
   font-weight: 600;
   line-height: 1.2em;
}
.table-wrap > div .listTable td {
   padding: 10px;
   border: 1px solid #e5e5e5;
   border-right: 1px solid #e5e5e5;
   font-size: 15px;
   text-align: left;
   color: #111;
} 

.table-wrap > div .listTable td a{
   text-decoration:none;
   color: #000000;
} 

/* 

#gnb{
	position:relative;
	width:100%;box-sizing:border-box;
	margin:0 auto;
   text-align:center;font-size:0;
}
#gnb>li{
	display:inline-block;box-sizing:border-box;height:140px;
   vertical-align:top;
   overflow: hidden;
}
.menu-wrap .menu .gnb > li{
   display: inline-block;
   float: left;
   width: 10%;
   height: 140px;
   transition: 0.2s;
}
#gnb>li>div{
	position:absolute;top:140px;left:0;
	width:100%;min-height:200px;box-sizing:border-box;
	padding: 10px 0;
   text-align:left;
   display: none;
   height: 100px;
   overflow-y: auto;
   z-index: 9999;
}
.listTable{
   width: 100%;
   margin-left: -1;
}
.listTable th {
   padding: 5px 0;
   height: 40px;
   border: 1px solid #dbdbdb;
   border-right: 0;
   color: #333;
   font-weight: 600;
   line-height: 1.2em;
}
.listTable td {
   padding: 10px;
   border: 1px solid #dbdbdb;
   border-right: 1px solid #dbdbdb;
   font-size: 14px;
   text-align: left;
   color: #555;
} */