/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/


/*나눔고딕 폰트
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NanumGothic-Regular.eot');
    src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
    url('../fonts/NanumGothic-Regular.woff') format('woff'),
    url('../fonts/NanumGothic-Regular.ttf') format('truetype');
}*/



/*font-awesome*/
@font-face {
    font-family: 'FontAwesome';
    src:url('../fonts/fontawesome-webfont.ttf') format('truetype');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/FontAwesome.otf')format('opentype'),
    url('../fonts/fontawesome-webfont.svg') format('svg');
}


body{
    /*font-family: 'Nanum Gothic';*/
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, Arial,
		Helvetica, sans-serif,bold;
	font-size: 12px;
}
.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 80px;
}
.calendar > .head {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.calendar > .head > * {
    display: inline-block;
}
.calendar > .head > .title {
    font-size: 20px;
}
.calendar > .head > .prev,
.calendar > .head .next {
    font-size: 14px;
    cursor: pointer;
    color: #b9b9b9;
    font-family: 'jennifer';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.calendar > .head > .prev:before {
    content: "\e619";
    margin-right: 12px;
}
.calendar > .head > .next:before {
    content: "\e61a";
    margin-left: 12px;
}
.calendar > table.body {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}
.calendar > table.body th {
    /* text-align: right; */
    text-align: center;
    border-width: 0px;
    border-right-width: 0px;
    padding-left:5px;
}
.calendar > table.body td {
    /* text-align: right; */
    text-align: center;
    border-width: 0px;
    border-right-width: 0px;
}
.calendar > table.body th {
    height: 17px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px;
    background-color: #f9fafb;
    border-bottom-width: 1px;
    font-size: 15px;
    font-weight: normal !important;
}
.calendar > table.body td {
    position: relative;
    height:128px;
    /*padding: 0px 8px;*/
    vertical-align: top;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    font-size: 15px;
    width: <%=("YEAR".equals(uiType)?8.3:14.28)%>%;
}
.calendar table.body .weekDiv td{
    padding: 0px 0px !important;
    height:0 !important;
}
.weekDay{
    border-bottom: solid 2px #ddd;
}
.weekDay,
.monthCon{
    line-height: 40px;
    padding-left: 10px;
    border-bottom: solid 1px #ddd;
    border-top: solid 2px #555;
    background-color: #f9fafb;
    /*font-weight: bold !important;*/
}
.monthYear{
    line-height: 40px;
    padding-left: 10px;
    border-bottom: solid 1px #ddd;
    border-top: solid 2px #ddd;
}

.calendar > table.body td:last-child {
    border-right-width: 1px;
}
.calendar > table.body td > .task {
    position: absolute;
    left: 0px;
    /*top: 30px;*/
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
}
.calendar > table.body td > .task > * {
    display: block;
    border-width: 1px;
    border-style: solid;
    padding: 5px 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.calendar>.head {
    border-bottom-color: #ebebeb;
}
.calendar>.head>.prev, .calendar>.head .next, .calendar>.head .prev-year,
.calendar>.head .next-year {
    color: #dcdcdc;
}
.calendar>.head>.title {
    color: #111;
    font-weight: bold;
}
.calendar>.head>.title.arrowL{
    padding-right: 20px;
}
.calendar>.head>.title.arrowR{
    padding-left: 20px;
}
.calendar>table.body th, .calendar>table.body td {
    border-color: #e0e0e0;
    border-style: solid;
}
.calendar>table.body th {
    color: black;
}

.calendar>table.body td {
    color: #333;
}
.calendar>table.body td.none {
    color: #ddd;
}
.calendar>table.body td.now {
    color: #740CD2;
}
.calendar>table.body td.active {
    /*background-color: #f4f0f9;*/
    background-color: #f5f5f5;
}
.calendar>table.body td>.task {
    color: #fff;
}
.calendar>table.body td>.task>* {
    border-color: #fff;
}
.button01 {
    display: inline-block;
    border-width: 0;
    border-style: solid;
    padding: 6px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 10px;
    background:#f5f5f5;
    cursor:pointer;
}
.button01:hover{
    background-color: #e4e4e4;
}

/* 달력-월-날자 최대 heigth 후 스크롤 */
div.scroll_box01{
    height: expression( this.scrollHeight > 105 ? "100px" : "auto" );
    max-height: 100px;
    overflow-y: auto;
}
/* 달력-주-일 최대 heigth 후 스크롤 */
div.scroll_box02{
    height: expression( this.scrollHeight > 455 ? "450px" : "auto" );
    max-height: 450px;
    overflow-y: auto;
}
/* 달력-년-월 최대 heigth 후 스크롤 */
div.scroll_box03{
    height: expression( this.scrollHeight > 455 ? "450px" : "auto" );
    max-height: 450px;
    overflow-y: auto;
}
.calendar > table.monthDay.body td{
    padding: 0px 8px;
    text-align: left;
}
.calendar>table.monthDay.body th{
    border-bottom: solid 2px #555;
    background-color: #f9fafb;
}
