/* touch skin outline handling*/
.webix_scheduler .webix_control {
	button:focus, input:focus, div.webix_inp_static:focus, textarea:focus{
    	outline: #595959 dotted 1px !important;
	}
}
.webix_scheduler input.webix_cal_done:focus{
	outline: #595959 dotted 1px !important;
}
.webix_segment_0,.webix_segment_1,.webix_segment_N{
	padding: 0;
}
/*Day view*/
.webix_dayevents{
	border-top-color: #fff;
}
.webix_dayevents_scale_item {
	/*background-color: #f1f7fb;*/
	-moz-user-select:-moz-none;
	border-bottom:1px solid #EBEBEB;
	color: #777;
	font-family:"Helvetica World","HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","Helvetica","Tahoma","Geneva","Arial",sans-serif;
	white-space:nowrap;
}
.webix_dayevents_scale_hour{
	float: left;
	text-align: center;
	font-size: 14px;
}
.webix_dayevents_scale_top, .webix_dayevents_scale_bottom {
	font-size: 10px;
	float: left;
	text-align:center;
}
.webix_dayevents_scale_top{
	border-bottom:1px dotted #eee;
}
.webix_dayevents_scale_minute{
	background-color: #ededed;
	border-bottom:1px dotted #d3d3d3;
	float:left;
}
.webix_dayevents_scale_event {
	float:left;
}
.webix_dayevents_event_item{
	position:absolute;
	font-size: 14px;
	color: #10725e;
	border-left: 3px solid #1abca9 ;
	background-color: rgba(26,188,169,0.3);
}

.webix_list .webix_list_item.webix_selected, .webix_dayevents_event_item.webix_selected , 
.webix_list_events_item.webix_selected, .multi_day_events .webix_list_item.webix_selected{
	background-color: #65a0ff;
	border-left-color:#65a0ff;
	color:#fff;
	.webix_event_marker div{
		background-color: #fff;
		border-color:#fff;
	}
}


/*Multi-day list*/
.multi_day_events .webix_list_item{
	line-height: normal;
	font-size: 14px;
	border-top: 3px solid #fff;


	color: #10725e;

	background-color: rgba(26,188,169,0.3);
}

.webix_layout_toolbar.webix_toolbar.webix_topbar .webix_el_button,
.webix_layout_toolbar.webix_toolbar.webix_topbar .webix_el_label,
.webix_layout_toolbar.webix_toolbar.webix_topbar .webix_inp_label {
	color: #000 !important;
}

.webix_scheduler .webix_custom_checkbox{
	padding-left:0;
	width:22px;
	height: 22px;
}
.webix_scheduler .webix_el_select select {
	border: 1px solid #65a0ff;
	border-radius: 4px;
	-webkit-appearance: inherit;
}

.webix_scheduler .webix_cal_month_name{
	font-size: 17px;
}
.webix_scheduler .webix_cal_body .webix_cal_week_num {
	font-size: 14px;
}


.webix_scheduler .webix_cal_body .webix_cal_day   span,
.webix_scheduler .webix_cal_body .webix_cal_day  span,
.webix_scheduler .webix_cal_body .webix_cal_day  .webix_cal_today span {
	height: 34px !important;
	width: 34px !important;
	line-height: 34px;
}
.webix_scheduler .webix_cal_body .webix_cal_day,
.webix_scheduler .webix_cal_body .webix_cal_week_num {
/*	line-height: 36px;*/
}

.webix_scheduler .webix_unit_header{
	background: #f3f3f3;
}
.webix_scheduler .webix_unit_header_inner{
	/*background: #fff;*/
	border-radius: 5px;
	/*color: #3C87FF;*/
	color: #888;
	background: #f3f3f3;

}
.webix_scheduler .events .webix_list_item, .webix_scheduler .day_events .webix_list_item{
	padding:0;
}
.webix_event_overall{
	padding: 0 3px;
	height:100%;
	line-height:49px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
}
.webix_list_item .webix_event_marker{
	display: block;
	line-height:49px;

	width: 10px;
}
.webix_list_item .webix_event_marker div{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;

	border: 1px solid #1abc9c;
	border-radius: 50%;
	width: 10px;
	height:41px;
	height: 10px;

	background-color: rgba(26,188,156,0.9);
}
.webix_list_item .webix_event_time{
	width:70px;
	display: block;
	text-align: center;
	font-size:16px;
}
.webix_list_item .webix_event_text{

	padding-left:4px;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	white-space:nowrap;
	box-sizing: border-box;
}
.webix_bottombar{
	background-color: #f3f3f3;
}

.webix_bottombar .webix_el_label{
	color: #65a0ff;
}
.webix_bottombar .webix_el_button .webix_icon_btn{
	color:#65a0ff;
}

.webix_el_button .webixtype_flat{
	color:#65a0ff;
	background-color:transparent;
	border:none;
}
.webix_el_button .webixtype_iconprev, .webix_el_button .webixtype_iconnext{
	border:none;
	background:transparent;
	background-repeat:no-repeat;
    background-position: 15px center;
}
.webix_el_button .webixtype_iconprev{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAASUlEQVR42p2QMQoAQQgD79EZ0Mqn5xCu2cPdYgUbJ0rMMxXgLeiuKq8gsJAz8weQ0QiwJEfECnr4wdlEnwJ68+yyhReC+c85oRecj0Um+pmo9wAAAABJRU5ErkJggg==);
} 
.webix_el_button .webixtype_iconnext{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAARElEQVR42qXPsQoAIAhF0T76PdDJT7cUmtQhcmk4N8QVQ9JXN2bmgWOgqp+BiCRG2AYAMoi3/LxYdyagAnhA6G93TrABZaJFJjrFY8IAAAAASUVORK5CYII=);
}


.webix_scheduler .webix_topbar{
	background-color: #fff;
}
.webix_scheduler .webix_topbar .webix_el_label{
	color: #000;
}
.webix_scheduler .webix_subbar{
	background-color: #f3f3f3;
}

.webix_layout_toolbar.webix_subbar .webixtype_base {
	background-color: #65a0ff ;
	color: #fff !important;
}

.webix_scheduler .webix_subbar .webix_img_btn .webix_icon_btn{
	color:  #3C87FF;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: none;
	width: 20px;
}
.webix_scheduler .webix_subbar .webix_img_btn{
	color:  #3C87FF;
	text-align: left;

}
.webix_scheduler .webix_subbar .webix_el_label{
	color: #000;
}
.webix_scheduler .webix_cal_day .webix_cal_day_inner{
	font-size: 16px;
}
.webix_cal_day{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webix-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.webix_cal_day_event{
	height: 27px;
}

.webix_cal_event_marker{
	background-color: #6A6A6A;
	border-radius: 2px;
	height: 4px;
	margin: 0 auto 3px auto;
	width: 4px;
}
.webix_cal_day.webix_cal_select .webix_cal_event_marker{
	background-color: #fff;
}
.webix_cal_event .webix_cal_event_marker{
	background-color: #65a0ff;
}

/* Form*/
.webix_scheduler .webix_el_textarea .webix_inp_label {
	line-height: 34px !important;

}
.webix_el_datetext .webix_el_box{
	color: #666666;
	position: relative;
}
.webix_el_datetext .webix_inp_static{
	padding-right: 24px;
}

.webix_el_datetext .webix_input_icon {
	position: absolute;
	right: 4px;
	z-index: 1;
	padding-left: 15px;
	width: 21px;
}
.webix_cal_time{
	font-size: 18px;
}
.webix_cal_time div{
	background-color: #f3f3f3;
}
.webix_cal_time .webix_icon{
	font-size: 23px;
}


/*Preview*/
.selected_event{
	margin:10px;
}
.selected_event .event_title{
	font-weight:bold;
	margin-top: 7px;
}
.selected_event .event_text{
	margin-top: 2px;
}
.webix_layout_toolbar  .dhxtype_base {
	font-size: 18px;
}
.webix_noevents{
	width:100%;
	padding-top: 10px;
	color: #666666;
	text-align: center;
}

.webix_scheduler .webix_toolbar.webix_topbar .webix_el_label {
 padding-left:0;
}

.webix_scheduler .webix_el_label .webix_cal_prev_button,
.webix_scheduler .webix_el_label .webix_cal_next_button{
	background-position: center center;
	height: 100%;
	width: 40px;
	position: static;
}
.webix_scheduler .webix_el_label .webix_cal_prev_button{
	background-position: 23px center;
}
.webix_scheduler .webix_el_label .webix_cal_next_button{
	background-position: 10px center;
}
/*hide done button of calendar in form view*/
.webix_scheduler .form_calendar .webix_cal_done{
	 display: none;
}