.webix_view.webix_form.webix_rec_form{
	background-color: #f3f3f3;
}
/*datecells component*/
.webix_datecells .webix_cell{
	border:1px solid #848484;
	border-width:0 1px 1px 0;
	text-align:center;
	font-weight:bold;
	padding: 7px 0px;
}
.webix_datecells .webix_cell.first_row{
	border-top:1px solid #848484;
}
.webix_datecells .webix_cell.first_column{
	border-left:1px solid #848484;
}
.webix_datecells{
	margin-top:10px;
}

.webix_el_rectext {
	display:inline-block;
	font-size:18px;
}
.webix_el_rectext input {
	font-size: 18px;
	line-height: 28px;
}






/*list with rounded corners*/

.webix_recurring .webix_reclist .webix_list_item{
	position:relative;
}
.webix_recurring .webix_list_item .webix_arrow_icon{
	background-position: 0 -677px; /* 19_dark_arrow_right */
	right: 17px;
}
.rec_list .webix_list_item.webix_selected{
	background: #e0ecff;
}

/*Weekly*/
.webix_layout_form.webix_weeklist .webix_control {
	border-top-width: 0 !important;
}

/*Monthly*/
.webix_recurring .webix_rec_table .webix_cal_day_num{
	border-color: #FCFCFC #CCCCCC #CCCCCC #FCFCFC;
	border-width: 0 1px 1px 0;
	text-align: center;
	display: inline-block;
	line-height: 36px;
}
.webix_cal_day_num.webix_cal_selected_day{
	background-color: #65a0ff;
	color: #fff;

	width: 36px !important;
	height: 36px;
	border-radius: 18px;
}
.webix_rec_table td{
	text-align: center;
}

.webix_recurring .webix_accordionitem_header{
	border-top-width:0 !important;
	border-bottom-width:0 !important;
}
.webix_recurring .webix_accordionitem_label {
	padding-left: 0;
}
.webix_recurring .webix_el_label{
	font-size:19px;
}
.webix_recurring .webix_accordionitem_header .blured{
	color:#9c9c9c
}
.webix_recurring .webix_accordionitem_header .webix_accordionitem_button.collapsed, .webix_accordionitem_header .webix_accordionitem_button{
	background-position:0px 0px;
	height: 27px;
	width: 27px;

}

.webix_recurring .webix_accordionitem_header .webix_accordionitem_button{
	display:none;
}
.webix_recurring .webix_accordionitem_header .radio{
	margin-top:12px;
	margin-left:10px;
	height: 24px;
	width: 24px;
	border-radius:13px;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;

	border:1px solid #cacaca;
	float:left;
}
.webix_recurring .webix_accordionitem_header .radio.blured{
	margin-top:12px;
}
.webix_recurring .webix_accordionitem_header .radio .on{
	margin: 6px 6px;
	height: 12px;
	width: 12px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-color: #65a0ff
}
.webix_recurring .webix_accordionitem  .webix_accordionitem_header{
	line-height: 50px;
	border-bottom-color: #fff;
}
.webix_recurring .webix_accordionitem  .webix_accordionitem_header{
	line-height: 50px;
}
.webix_recurring .webix_accordionitem_header .webix_accordionitem_label .text{
	padding-left:7px;
	float:left;
}




.webix_layout_form .webix_monthly .webix_control, .webix_layout_form .webix_yearly .webix_control {
	border-top-width: 0 !important;
}

/*conter*/


.webix_scheduler .webix_dialog_text{
	padding-top: 20px;
}
.webix_el_endrec{
	background-color: #fff;
	border-bottom: 1px solid #dedede !important;
}
.webix_el_endrec label{
	padding-left: 8px;
}

.webix_el_rectext .webix_el_box, .webix_el_endrec  .webix_el_box{
	color: #666666;
	position: relative;
}
.webix_el_rectext .webix_input_icon,  .webix_el_endrec  .webix_input_icon{
	position: absolute;
	right: 4px;
	z-index: 1;
	padding-left: 15px;
	width: 21px;
}

.webix_layout_form .webix_control.webix_endby_radio{
	border-top: 0 !important;
}
.webix_reclist .webix_list_item:last-child{
	border-bottom: none;
}
.webix_layout_form .webix_rec_counter .webix_control{
	border-top: 0 !important;
}

/*DHX:Depend scheduler_recurring.css*/
