/* 
 * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(NanumGothic-Regular.eot);
	src: local(※),
		url(NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		/* url(NanumGothic-Regular.woff2) format('woff2'), */
		url(NanumGothic-Regular.woff) format('woff'),
		url(NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 600;
	src: url(NanumGothic-Bold.eot);
	src: local(※),
		url(NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		/* url(NanumGothic-Bold.woff2) format('woff2'), */
		url(NanumGothic-Bold.woff) format('woff'),
		url(NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(NanumGothic-ExtraBold.eot);
	src: local(※),
		url(NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		/* url(NanumGothic-ExtraBold.woff2) format('woff2'), */
		url(NanumGothic-ExtraBold.woff) format('woff'),
		url(NanumGothic-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Gothic Bold';
	font-style: normal;
	font-weight: 400;
	src: url(NanumGothic-Bold.eot);
	src: local(※),
		url(NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		/* url(NanumGothic-Bold.woff2) format('woff2'), */
		url(NanumGothic-Bold.woff) format('woff'),
		url(NanumGothic-Bold.ttf) format('truetype');
}