@charset "utf-8"

* {
  margin: auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

li{
  list-style: none;
}

.loginContainer{
  background-image: url("../login/login_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover;
  background-color: #fff;
  height: 771px;
  margin-top:80px;
}

.logo{
  position: absolute;
  background-image: url("../login/Nkia_logo.png");
  top: 10px;
  left:20px;
  width:165px;
  height:60px;
}

.loginContainer input[type=text],
.loginContainer input[type=password] {
  width: 300px;
  height :45px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #fff;
  display: inline-block;
  border: none;
  background-color: rgba(140, 151,203, 0.5);
  box-sizing: border-box;
}

.loginContainer input[type=password] {
  border-top-width: 0 !important;
}

.loginContainer input::placeholder{
  color: #fff;
  font-weight: normal;
}

.loginContainer form{
  width: 588px;
  height: 440px;
  background-color: rgba(60, 67, 148, 0.85);
  position: relative;
  top: 200px;
  left: calc(50% - 310px);
}

.formContainer {
  padding: 16px 0 -1 0;
  text-align: center;
}

.formContainer button:hover {
  opacity: 0.8;
}

.formContainer .loginBtn{
  background: #fff;
  font-weight: bold;
  font-size: 0.9em;
  border:0;
  color:#3e3e3e;
  cursor: pointer;
  width: 300px;
  line-height: 50px;
  height: 50px;
  margin: 10px 0;
}

.formContainer .loginBtn:hover{
  background: #040c37;
  color: #fff;
}

.imgcontainer {
  text-align: center;
  padding: 40px 0 0px 0;
}

.checkboxForm{
  float: right;
  padding-right: 128px;
}
.checkboxForm input{
  display: inline; position:relative; opacity: 0.6; width:17px; height:17px;
  border-radius:0; margin:0; margin-top:3px !important; float:left;
}
.checkboxForm label{
  font-size:13px; color:#fff; opacity: 0.6; padding-left:5px; line-height: 1.8;
}
.checkboxForm input:checked + label{
  color:#fff; opacity: 1;
}

.systemIcon{
  padding: 20px 0 30px 60px;
}
.systemIcon li{
  float:left;
  padding-right:5px;
}

footer{
  position: relative;
  top: 350px;
  /*padding-left:20px;*/
  text-align:center;
}

footer .copyRight{
  color: #666666;
  font-size: 12px;
  font-weight: bold;
}
footer .copyRight span{
  color: #0061c0;
}