@charset "utf-8"

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 300;
  font-style: normal;
  src: url('font/KoPubDotumLight.eot');
  src: url('font/KoPubDotumLight.woff2') format('woff2'),
       url('font/KoPubDotumLight.woff') format('woff'),
       url('font/KoPubDotumLight.ttf') format('truetype'),
       url('font/KoPubDotumLight.svg#KoPubDotumLight') format('svg'),
       url('font/KoPubDotumLight.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 400;
  font-style: normal;
  src: url('font/KoPubDotumMedium.eot');
  src: url('font/KoPubDotumMedium.woff2') format('woff2'),
       url('font/KoPubDotumMedium.woff') format('woff'),
       url('font/KoPubDotumMedium.ttf') format('truetype'),
       url('font/KoPubDotumMedium.svg#KoPubDotumMedium') format('svg'),
       url('font/KoPubDotumMedium.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 600;
  font-style: normal;
  src: url('font/KoPubDotumBold.eot');
  src: url('font/KoPubDotumBold.woff2') format('woff2'),
       url('font/KoPubDotumBold.woff') format('woff'),
       url('font/KoPubDotumBold.ttf') format('truetype'),
       url('font/KoPubDotumBold.svg#KoPubDotumBold') format('svg'),
       url('font/KoPubDotumBold.eot?#iefix') format('embedded-opentype');
}



/*======================페이지 공통=======================*/
* {
  margin: auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
    /* font-family: 'KoPub Dotum', sans-serif !important; */
}

a {
  cursor: pointer;
  color: #000 !important;
}

a:hover{
  color: #666 !important;
}

li{
  list-style: none;
}


/*======================페이지 공통=======================*/

.loginContainer{
}

.loginContainer .loginBg{
  background-image: url("../login/login_bgall.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 118%;
  background-color: #464646;
  min-height: 100vh;
  /* height: calc(100vh – 143px); */
  min-width: 600px;
}


.loginContainer input{
  background: #5E6CAD;
}

.loginContainer input[type=text],
.loginContainer input[type=password] {
  width: 313px;
  height: 50px;
  line-height: 50px;  
  padding-left: 15px;
  margin: 6px 0;
  color: #06376C;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,1);
  box-sizing: border-box;
  border-width: 0;
  -webkit-ime-mode: disabled !important;
  -moz-ime-mode: disabled !important;
  -ms-ime-mode: disabled !important;
  ime-mode: disabled !important;
}
.loginContainer input::placeholder{
  color: #06376C;
  font-weight: normal;
}

.loginContainer form{
  width: 400px;
  height: 478px;
  background-color: rgba(2, 41, 94, 0.8);
  position: relative;
  top: 120px;
  display: table;
  margin: auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}


.formContainer button {
  width: 315px;
  height: 67px;
  line-height: 67px;
  color: white;
  margin: 15px 0;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.checkboxForm{
  width: 313px;
  height: 30px;
  margin: 0 auto;
}

.formContainer button:hover {
  opacity: 0.8;
}

.formContainer .loginBtn{
  background-color: transparent;
  font-weight: bold;
  font-size: 0.9em;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  padding: 50px 0 12px 0;
}


.formContainer {
  padding: 16px;
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.logo{
  position: absolute;
  background-image: url("../login/login_logomark.png");
  background-size: contain;
  width: 190px;
  height: 15px;
  z-index: 9999;
  float: left;
  left: 100px;
  top: 40px;
}


.saveID {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  font-size: 0.9em;
}


.saveID input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 13px;
  height: 15px;
  width: 15px;
  background-color: rgba(255,255,255,1);
}

.saveID p{
  color: rgba(255,255,255,1);
  font-weight: normal;
  font-size: 14px;
}

.saveID:hover input ~ .checkmark {
  background-color: #9eabea;
}

.saveID input:checked ~ .checkmark {
  background-color: #5C6AAC;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.saveID input:checked ~ .checkmark:after {
  display: block;
}

.saveID .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pwLink{
	color: white !important;
}
footer{
    background-color: #fff;
    height: 80px;
    width: 80%;
    min-width: 1200px;
    margin-top: 5px;
    line-height: 55px;
}

footer .adress{
    float: center;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #71757E;
    font-weight: 600;
    margin-top: 15px;

}

.adressT{
    margin-left: 5px;
    text-align: center;
}

footer .service{
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: #222222;
}

footer .number{
    color: #4D69A7;
    font-size: 19px !important;
}

footer img{
  float: left;
  height: 22px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
