@media (max-width:880px){
   .loginContainer{
       width: 860px;
   }
   .itsm-txt{
      display: none;
   }
   .formContainer{
      float: none !important;
      position: relative;
      left:10%;
   }
}

/* main */
body{
   font-family: '맑은고딕';
   width: 100%;
   height: 100%;
   background: url("../login/bg.png") no-repeat top center fixed ;
}
.loginContainer{
   width: 100%;
   height: 100%;
   position:absolute;
}

.logo{
   position: absolute;
   margin: 20px;
   background: url("../login/logo.png");
   background-size: contain;
   width: 175px;
   height: 45px;
}

.loginForm{
   width: 100%;
   height: 230px;
   position: absolute;
   bottom: 25px;
   z-index: 1;
   background:  rgba(19, 106, 199,0.35);
   min-width: 1030px;
}
.loginForm form{
   margin: 0 auto;
   width:1030px;
}
.itsm-txt{
   float: left;
   width:530px;
   height:230px;
}

.formContainer{
   width:500px;
   float: right;
   padding-top:35px;
}

.formContainer > p{
   font-size: 14px;
   color: #fff;
   font-weight: 600;
   display: block;
   letter-spacing: -1px;
   width: 500px;
   height: 24px;
   border-bottom: 1px solid #fff;
   margin-bottom: 5px;
}
.loginContainer input[type=text],
.loginContainer input[type=password] {
  width: 500px;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  margin: 5px 0;
  color: #06376C;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,1);
  box-sizing: border-box;
  border-width: 0;
  -webkit-ime-mode: disabled !important;
  -moz-ime-mode: disabled !important;
  -ms-ime-mode: disabled !important;
  ime-mode: disabled !important;
}

.loginContainer .loginBtn-container{
   text-align: right;
   margin-top: 15px;
}
.loginContainer .loginBtn{
   border-radius: 4px;
   background-color: rgb(223, 0, 44);
   width: 211px;
   height: 34px;
   border: none;
   color: #fff;
   cursor: pointer;
}
.loginContainer .loginBtn:hover{
   background-color: #c80028;
}

.user_id{
   background: url("../login/user_ic.png")no-repeat right 10px center;
   background-origin: content-box;
}
.pw{
   background: url("../login/pw_ic.png")no-repeat right 10px center;
   background-origin: content-box;
}
.bottom{
   box-sizing: border-box;
   position: relative;
   height: 55px;
   padding-top: 10px;
}

footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 25px;
}
footer p{
   font-size: 12px;
   color: #555;
   line-height: 25px;
   letter-spacing: -1px;
   margin-left: 10px ;
   display: inline-block;
}
.aside{
   position: absolute;
   top: 0;
   right: 20px;
   padding-top: 3px;
}
.aside > span{
   font-size: 12px;
   color: #fff;
   font-weight: 600;
}
.aside select{
   width: 120px;
   text-align: center;
   margin-right: 10px;
}

select{
   box-sizing: border-box;
   padding: 0 12px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #fff url(../login/select.png) no-repeat right 10px center;
   border: 1px solid #dcdcdc;
   border-radius: 0;
   vertical-align: middle;
   font-size: 12px;
   color: #8c919c;
   outline: none;
}
select::-ms-expand{
   display: none;
}

.aside a{
   font-size: 12px;
   color: #666;
   font-weight: 600;
   padding: 2px 0;
   text-decoration: none;
   transition: 0.2s;
}
.aside a:hover{
   color: #222;
}

/* layerPop */
#myModal{
   display: none;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 /* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 50px 0px 10px 25px;
   color: #999;
   position: relative;
   width: 700px;
   height: 600px;
   overflow-y: scroll;
 }
pre{
   padding: 20px;
   overflow: auto;
   white-space: pre-wrap;
}
pre>b{font-size: 16px; font-weight: bold; display: block; padding: 10px 0; letter-spacing: -1px;}

/* The Close Button */
 .close {
   position: absolute;
   right: 8px;
   top: 8px;
   color: #aaaaaa;
   float: right;
   font-size: 28px;
 }
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

