﻿@charset "utf-8";
/* CSS Document */

/* @import url(../../../../base/css/ext-js/fonts/nanumgothic.css); */


/* Common */
/**{margin:0;padding:0;}*/
html{height:100%;min-width:970px;min-height:750px;} 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body {height:100%;min-height:100%;margin:0;padding:0;background-color:#FFFFFF;}
body,input,textarea,select,button,table{font-family:'돋움', Dotum, '굴림', Gulim, Arial, Helvetica, Tahoma, AppleGothic, sans-serif;font-size:12px;font-weight:400;line-height:16px;color:#666;}
img,fieldset{border:0;}
ul,ol,dl{list-style:none;margin:0;padding:0;}
ul:after,ol:after,dl:after{clear:both;display:block;content:''}
em,address{font-style:normal}
a{text-decoration:none;}
a:hover,a:active,a:focus,a:visited{text-decoration:none;}

.imgValign { 
	vertical-align:top }

/* start common */
#divMainBgAll {
	position:absolute;
	width:100%; height:100%;
	left:0; right:0; top:0; bottom:0;
	margin:0;
	border:none;
	z-index:1; }

#divMainBgImg {
	position:absolute;
	background: url(../main/main_bgimg.png) no-repeat;
	width:1040px; height:350px;
	left:50%; top:31%;
	margin-left: -520px; 
	margin-top: -175px;
	text-align:center; 
	/*left:0; top:0;
	border:none;
	text-align:center;*/
	z-index:2; }
	
#divBgMark {
	position:absolute;
	background: url(../main/main_mark.png) no-repeat;
	width:216px; height:37px;
	left:18px; top:15px;
	text-align:center;
	border:none;
	z-index:3; }

#divMainBgFlash {
	position:absolute;
	width:100%; height:100%;
	left:0; top:0;
	border:none;
	z-index:3; }

#divMainFooter {
	position:absolute; 
	background:url(../main/main_footer.png) no-repeat;
	width:583px; height:2.8%;
	left:20px; bottom:0; 
	vertical-align:middle;
	border:none;
	z-index:3; }



/*panel Layout*/
#divLayoutTop {
	position:absolute;
	display:block;
	width:32%; height:18%; min-height:132px; min-width:348px;
	left:34%; top:32%;
	z-index:4; }
#divLayoutMiddle {
	position:absolute;
	width:94%; height:23%; min-height:170px;
	left:3%; right:3%; top:50%;
	z-index:4; }
#divLayoutBottom {
	position:absolute;
	width:94%; height:23%; min-height:170px;
	left:3%; right:3%; top:75%;
	z-index:4; }

#divLayoutLeft {
	position:absolute;
	width:56%; height:100%; min-width:300px;
	left:0; }
#divLayoutRight {
	position:absolute;
	width:43%; height:100%; min-width:200px;
	right:0; }

#divPanelMyRequest {
	position:absolute;
	display:block;
	width:348px; height:136px;
	left:80%; top:36%;
	margin-left: -174px; 
	margin-top: -68px;
	z-index:4; }


/* start my Request */
.panelTitleMyRequest {
	width:100%; height:16px; left:0; top:0;
	color:#555;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:15px; font-weight:600; line-height:16px;
	text-align:center; }
.panelTitle {
	width:100%; height:20px; left:0; top:0;
	color:#fff;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:15px; font-weight:600; line-height:20px;
	text-align:left; padding-left:0px; }
	
.myRequest {
	width:100%; height:116px;}
.myRequestLeft {
	width:33%; height:116px;
	background: url(../main/bg_panel_myrequest00.png) no-repeat center top;
	vertical-align:bottom; text-align:center; }
.myRequestCenter {
	width:34%; height:116px;
	background: url(../main/bg_panel_myrequest00.png) no-repeat center top;
	vertical-align:bottom; text-align:center; }
.myRequestRight {
	width:33%; height:116px;
	background: url(../main/bg_panel_myrequest00.png) no-repeat center top;
	vertical-align:bottom; text-align:center;  }

.myRequestIcon {
	text-align:center; }
.myRequestName {
	color:#fff;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:12px;
	line-height:11px;
	text-align:center; }
.myRequestValue {
	color:#446688;
	font-family:Arial, Helvetica, '돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif;
	font-size:24px;
	line-height:31px;
	text-align:center; padding-bottom:14px; }


/* start Assets Hold */
.assetsHoldItem {
	width:96%; height:114px;
	color:#333;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:12px; line-height:16px; text-align:center; }

.assetsHoldItem01 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_server.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItem02 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_security.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItem03 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_storage.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItem04 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_backup.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItem05 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_network.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItem06 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_equipment.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItem07 {
	width:12%; height:77px; min-width:80px;
	background: url(../main/icon_assets_workstation.png) no-repeat top center;
	text-align:center; vertical-align:bottom;
	padding-bottom:5px; }
.assetsHoldItemSpace {
	width:2%; }

.assetsHoldName {
	height:15px; min-width:80px;
	color:#eee;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:12px; line-height:14px; white-space:nowrap;
	text-align:center; }
.assetsHoldValue {
	height:31px; min-width:80px;
	background: url(../main/bg_assetshold_value.png) no-repeat top center;
	color:#fff;
	font-family:Arial, Helvetica, '돋움', Dotum, '굴림', Gulim, Tahoma, sans-serif;
	font-size:24px;line-height:33px; white-space:nowrap;
	text-align:center; }

.assetsChangeChart {
	min-width:500px; min-height:140px; }


.panelListTable {
	width:100%; height:100%; }

.panelHeaderLeft {
	left:0; top:0;
	width:10px; height:40px; }
.panelHeaderCenter {
	width:100%; height:40px;
	background:url(../main/panel_header_center.png) repeat-x top;
	color:#555;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:15px; line-height:24px; 
	font-weight:600;
	text-align:left; padding-left:4px; }
.panelHeaderRight {
	right:0; top:0;
	width:10px; height:40px; }

.panelBodyLeft {
	left:0; bottom:0;
	width:10px; height:100%;
	background:url(../main/panel_body_left.png) left bottom no-repeat; }
.panelBodyCenter {
	width:100%; height:100%;
	background:url(../main/panel_body_center.png) repeat-x bottom;
	text-align:center; vertical-align:top; white-space:nowrap;
	padding:4px 0 6px 0; }
.panelBodyCenterM {
	width:100%; height:100%;
	background:url(../main/panel_body_center.png) repeat-x bottom;
	text-align:center; vertical-align:middle; white-space:nowrap;
	padding:0 0 10px 0; }
.panelBodyRight {
	right:0; bottom:0;
	width:10px; height:100%;
	background:url(../main/panel_body_right.png) right bottom no-repeat; }

.btnTitleMore {
	display:inline-block;
	line-height:24px; vertical-align:bottom;
	padding-bottom:2px;}


.mainNoticeList {
	height: 24px; 
	background:url(../main/bullet_notice.png) no-repeat 5px 6px; 
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size: 12px; line-height:15px;
	color:#333;
	text-align: left;
	padding-left:15px; }
.mainNoticeDate {
	position:absolute; right:25px }


.panelTitleLeft {
	display:inline-block;
	width:48%;
	left:0;}
.panelTitleRight {
	display:inline-block;
	width:48%;
	left:50%;
	border-left:solid 1px #ccc5c2;
	padding-left:5px; }
.panelTitleEnable {
	color:#fff; }
.panelTitleDisable {
	color:#b8d0e5; }


a.titleLink {
	color:#333;text-decoration:none;}
a.titleLink:link {
	color:#998f8a; text-decoration:none; }
a.titleLink:visited {
	color:#998f8a; text-decoration:none;}
a.titleLink:hover {
	color:#111; text-decoration:none; }
a.titleLink:active {
	color:#555; text-decoration:none;}

a.mainNotice {
	color:#333;text-decoration:none;}
a.mainNotice:link {
	color:#333; text-decoration:none; }
a.mainNotice:visited {
	color:#998f8a; text-decoration:none;}
a.mainNotice:hover {
	color:#000; text-decoration:none; }
a.mainNotice:active {
	color:#555; text-decoration:none;}

/*
#divBgBottom {
	position:absolute;
	left:50%; top:350px; 
	width:1170px; height: 550px;
	margin-left: -585px; vertical-align:top;
	z-index:5; }

.titleMark {
	position:absolute;
	left:12px; top:1px; }
.titleInfo {
	position:absolute;
	right:12px; top:7px;
	height: 22px; vertical-align:top }
.accountInfo {
	height: 22px;
	font-size:11px; line-height: 21px;
	color: #ffffff; 
	vertical-align:top; margin-right:2px; }

.footerImg {
	position:absolute;
	width: 35%; height:34px; 
	left:0; text-align:right; 
	vertical-align:middle; }
.footerTxt {
	position:absolute;
	width: 65%; height:34px;
	right:0; text-align:left;
	vertical-align:middle;
	color:#222;
	font-family:dotum;
	font-size:11px;
	line-height:34px; }

#divDate {
	position:absolute;
	width:270px; height:30px;
	right:15px; top:60px;
	text-align:right }
.dateTime {
	color:#00cc00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	line-height:32px;
	vertical-align: bottom;
	margin-left: 2px; }
.dateDay {
	color: #666;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:15px;
	line-height:24px; }