﻿@charset "utf-8";
/* CSS Document */

/* @import url(../../../../base/css/ext-js/fonts/nanumgothic.css); */


/* Common */
/**{margin:0;padding:0;}*/
html{height:100%;min-width:970px;min-height:750px;} 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body {height:100%;min-height:100%;margin:0;padding:0;background-color:#FFFFFF;}
body,input,textarea,select,button,table{font-family:'돋움', Dotum, '굴림', Gulim, Arial, Helvetica, Tahoma, AppleGothic, sans-serif;font-size:12px;font-weight:400;line-height:16px;color:#333333;}
img,fieldset{border:0;}
ul,ol,dl{list-style:none;margin:0;padding:0;}
ul:after,ol:after,dl:after{clear:both;display:block;content:''}
em,address{font-style:normal}
a{text-decoration:none;}
a:hover,a:active,a:focus,a:visited{text-decoration:none;}

.imgValign { 
	vertical-align:top }

/* start common */
#divLoginBgAll {
	position:absolute;
	width:100%; height:500px;
	left:0; right:0; top:80px; bottom:0;
	margin:0;
	border:none;
	z-index:1;}

#divLoginBgImg {
	position:absolute;
	background:url(../login/login_bgimg.png) no-repeat;
	width:1040px; height:370px;
	left:50%; top:175px;
	margin-left: -520px; 
	/*margin-top: -220px;*/
	text-align:center; 
	/*left:0; top:0;
	border:none;
	text-align:center;*/
	z-index:2; }

#divLoginBgFlash {
	position:absolute;
	width:100%; height:500px;
	left:0; right:0; top:80px; bottom:0;
	border:none;
	z-index:3; }

#divLoginTitle {
	position:absolute;
	left:15%; top:47px;
	border:none;
	z-index:3;}

#divLoginFooter {
	position:absolute;
	vertical-align: auto;
	width:100%;  height:35px;
	left:15%; top:670px;
	border:none;
	z-index:3;
	color:#666;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:12px;
	line-height:18px;}

#divLoginBox {
	position:absolute;
	left:49%; top:600px;
	width:400px; height:200px;
	background:url(../login/login_bgbox.png) no-repeat left top;
	z-index:4;}

#divLoginTxt {
	position:absolute;
	width:350px;
	left:140px; top:65px;}

#divDate {
	position:absolute;
	width:270px; height:100px;
	left:15%; top:593px;
	margin-left:0px;
	margin-top:0px;
	text-align:left;
	z-index:4;}

.dateTime {
	color:#00ccff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	line-height:32px;}

.dateDay {
	color:#666;
	font-family:'돋움', Dotum, '굴림', Gulim, Arial, Tahoma, sans-serif;
	font-size:14px;
	font-weight:600;
	line-height:20px;
	padding:0 5px 3px 2px;}

.footerImg {
	height:24px; 
	text-align:left;
	font-size:16px;
	font-weight:600;
	vertical-align:middle;
}
.footerTxt {
	height:36px;
	text-align:left;
	vertical-align:middle;
	font-size:11px;
	line-height:18px;}


div.Contents { height:30px; }
div.Contents span.InputTit { display:inline-block; width:50px; height:30px; text-align:right; vertical-align:bottom; line-height:37px }
div.Contents span.InputTxt { width:110px; height:30px; vertical-align:middle; }
div.Contents span.InputCheck { height:30px; vertical-align:middle; margin:0px 4px 0px 55px;}

div.Contents span.SaveID { display:inline-block; height:30px; vertical-align:middle; font-family:Dotum, Tahoma, Geneva, sans-serif; font-size:11px; color:#737780; margin:0px 28px 2px -4px; line-height:30px }
div.Contents span.BtnPlugin { display:inline-block; height:30px; vertical-align:bottom; line-height:30px }

input.login {
	width: 118px; height:25px;
	border:solid 1px #aaaaaa;
	background-color:#eeeeee;}

#divLoginBtn { 
	position:absolute; left:185px; top:0;
	z-index:5;}
