/**
 * Copyright (c) 2006-2007, Bill W. Scott
 * All rights reserved.
 *
 * This work is licensed under the Creative Commons Attribution 2.5 License. To view a copy 
 * of this license, visit http://creativecommons.org/licenses/by/2.5/ or send a letter to 
 * Creative Commons, 543 Howard Street, 5th Floor, San Francisco, California, 94105, USA.
 *
 * This work was created by Bill Scott (billwscott.com, looksgoodworkswell.com).
 * 
 * The only attribution I require is to keep this notice of copyright & license 
 * in this original source file.
 *
 * Version 1.0 - 10.21.2008
 */

/**
 * Standard Configuration. It is advised that this section NOT be modified as the
 * carousel.js expects the behavior outlined below.
 **/
.carousel-component { 
	/*
	position:relative;
	
	overflow:hidden; 
	display:none;
	margin:0 auto;
	*/
	
	margin:0; padding:0;
	width:100%; height:82px;
	background-color:#f7f8fa;
	border-bottom: solid 1px #c1cfde;
	vertical-align: top;
}

.carousel-component ul.carousel-list {   
	width:10000000px;
}

.carousel-component .carousel-list li { 
	float:left;
	overflow:hidden;
}

.carousel-component .carousel-clip-region { 
	overflow:hidden; /* Secret to the clipping */
}
