.webix_querybuilder_wrap {
    position: relative;
    .webix_view {
        background-color: transparent;
    }
    .webix_template {
        padding: 0;
    }
	.webix_el_select select, .webix_el_richselect .webix_inp_static,
	.webix_el_richselect span.webix_input_icon {
		border-radius: 0;
	}
}
.webix_querybuilder_or, .webix_querybuilder_and {
    border:none;
    padding:0px 2px;
    display: inline-block;
    font-size: 15px;
    height: 26px;
    width: 38px;
    padding: 2px 4px;
    background-color: #606060;
    text-transform: capitalize;
    color: #ccc;
    cursor: pointer;
    &.webix_active {
        background-color: #3498db;
        color: #fff;
    }
}
.webix_querybuilder_ifbuttons {
    border-radius: 3px;
    background-color: #606060;
    text-align: center;
    padding: 4px 2px;
}


.webix_querybuilder_line .webix_querybuilder_close {
    cursor: pointer;
    right: 25px;
    top: 0px;
    button {
        color: #aaa;
        background-color: transparent;
        border:none;
        font-size: 22px;
        width: 20px;
        padding: 2px 1px;
        &:hover,&:active,&:focus {
            color: #E11812;
            outline: none;
            box-shadow: none;
        }
    }
}

.webix_querybuilder_buttons {
    button {
        padding: 0;
    }
    .webix_querybuilder_rule,
    .webix_querybuilder_group {
        margin: 0 10px 0 0;
        outline: 0;
        background: transparent;
        color: #3498db;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        box-shadow: none;
        display: block;
        float: left;
        &:active,&:hover,&:focus {
            color: darken(#3498db, 10%);
        }
    }
}

.webix_querybuilder_line {
    position: relative;
    .webix_control, input, .webix_inp_static {
        border-radius: 0;
    }
    .webix_el_slider {
        &.webix_invalid {
            .webix_el_box {
               background-color: #fea5a83d;
            }
        }
    }
    .webix_control > div{
        padding-top:1px;
        padding-bottom:5px;
    }
    .webix_querybuilder_value_select, .webix_querybuilder_rule_select, 
    .webix_querybuilder_rule_input {
        display: inline-block;
        height: 36px;
        font-size: 15px;
        color: #666;
        .webix_input_icon {
            display: none;
        }
    }
}

.webix_column_qb {
    .webix_querybuilder_value_select, .webix_querybuilder_rule_select, 
    .webix_querybuilder_rule_input {
        display: block;
    }
}

.webix_qb_filter .fa {
    cursor:pointer;
    padding: 15px 5px 0 0;
    font-size: 18px;
    color: #888;
    float:right;
    &:hover{
        color: #444;
    }
}

.webix_querybuilder_wrap .webix_querybuilder_wrap {
    border-left: 1px solid #adadad !important;
}

.webix_querybuilder_sorting {
    margin: 7px;
    .webix_control {
        display: inline-block;
        margin-right: 10px;
    }
}