@charset "utf-8";

@font-face{
	font-family: 'NanumGothicWeb';
	font-style: normal;
	font-weight: normal;
	src: url('NanumGothic.eot'); 
	src: local('☺'), url('NanumGothic.woff') format('woff'), url('NanumGothic.ttf') format('truetype'); 
}

@font-face{
	font-family: 'NanumGothicWeb';
	font-style: normal; 
	font-weight: bold;
	src: url('NanumGothicBold.eot');     
	src: local('☺'), url('NanumGothicBold.woff') format('woff'), url('NanumGothicBold.ttf') format('truetype'); 
}