.webix_pivot .webix_hs_left .webix_first:hover {
    cursor: pointer;
}
.webix_pivot .webix_pivot_readonly .webix_hs_left .webix_first:hover {
	cursor: default;
}

.webix_pivot_configuration {
    border-radius: 2px;
    .webix_list_item {
        padding: 7px 9px;
    }
    .webix_list {
        overflow-y: auto;
        position: relative;
        &:after {
            content: attr(window-message);
            display: block;
            position: absolute;
            bottom: 10px;
            color: #C7C7C7; 
            font-family: "PT Sans";  
            font-size: 15px;    
            line-height: 20px;
            width: 100%;
            text-align: center;
        }
        .webix_scroll_cont {
            z-index: 1;
            position: absolute;
            background-color: #fff;
        }
    }
    .webix_view.webix_layout_line {
        border-color: #CDDEEA;
        border-radius: 2px;
    }
}

.webix_view.webix_popup {
    .webix_pivot_configuration.webix_layout_wide {
        border-radius: 2px;
    }
}

.webix_view.webix_popup.webix_pivot, 
.webix_view.webix_window.webix_pivot_chart_popup {
    border: none;
}

.webix_pivot_fields {
    border-color: #CDDEEA;
    border-radius: 0;
    .webix_list {
        overflow-y: auto;
        position: relative;
    }
}
.webix_popup.webix_pivot .webix_win_head .fa-times{
	font-size: 14px;
	margin-top: 1px;
}
.webix_popup.webix_pivot .webix_win_head .fa-check{
	font-size: 15px;
}
.webix_popup.webix_pivot .webix_win_head .webix_img_btn_abs .webix_icon{
	margin-left:5px;

}
.webix_link_selection{
	display:inline-block;
	padding: 0 0 0 5px;
	color: #888;
}

.webix_pivot_fields .webix_list_item{
    line-height: 35px;
}
.pivot_config_title{
	font-size: 15px;
}
.wevix_pivot_filter{
	float: left;
}

.webix_pivot_link {
    border-bottom: 1px dashed #888888;
    display: block;
    float: left;

    border: 1px solid #aaa;
    padding: 0px 6px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
}
.webix_pivot_popup_icon{
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	margin-right: 5px;
	height:100%;
	display: block;
	float:left;
}

.webix_pivot .webix_pivot_link .webix_icon {
    font-size:13px;
    color:#aaa;
    text-align: right;
}
.webix_pivot .webix_pivot_plus {
    font-size:17px;
    color:#0cb42e;
    margin: 2px 0px;
    display: block;
    float: right;
}

.webix_pivot_transparent{
	background-color: transparent;
	color: #fff;
}
.webix_pivot, .webix_pivot_chart_popup {
    .webix_pivot_list_marker{
    	border:1px solid #758da3;
    	width: 8px;
    	height: 8px;
    	border-radius: 3px;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	margin-right: 10px;
    	margin-bottom: 1px;
    	display: inline-block;
    }
}

.webix_column>.webix_max {
    background-color: #D4F6E2;
}
.webix_column>.webix_min {
    background-color: #FFC7C1;
}

.webix_window.webix_popup.webix_pivot_popup {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.07);
    .webix_scroll_cont {
        .webix_list_item {
            padding: 0 7px;
        }
    }
}

.webix_pivot .webix_input_icon.fa-calendar {
    background: url("../img/calendar-icon.svg") no-repeat;
    background-position: 0% 50%;
    &:before {
        display: none;
    }
}

.webix_pivot_header{
	line-height: 30px;

}
.webix_pivot_header_icon{
	font-size: 17px;
	height: 18px;
    vertical-align: middle;
    width: 20px;
	display: inline-block;
	text-align: center;

	margin-right: 5px;
}

.webix_pivot_fields_msg{
	line-height:1;
	font-size: 14px;
	font-style: italic;
	color: #666;
}

.webix_pivot_config_msg{
	text-align: center;
}

.webix_pivot_field_selected{
	.webix_pivot_list_marker{
		border-color: #729FBD;    
        background-color: #729FBD;
    }
}

.webix_pivot.webix_popup {
	.webix_layout_space, .webix_layout_wide{
		background: #f3f3f3;
	}
	.webix_pivot_popup_title{

		background: #CEE4F3;
        color: #000;

	}
}

.webix_pivot_drag_zone{
	background: transparent;
	box-shadow: none;
	border-bottom: none;
	> div{
		background: transparent;
		border:none;
	}
	.webix_pivot_link{
		background: #FFF;
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 1px 1px 5px #ddd;
	}
}

.webix_pivot .webix_dtable .webix_ss_right .webix_column.webix_first>div,
.webix_pivot .webix_dtable .webix_hs_right td.webix_first {
    border-left: 1px solid #C6C6C6;
}



.webix_pivot .webix_dtable {
    color: #000000;
    font-family: "PT Sans";   
    font-size: 15px;    
    line-height: 22px;
}
.webix_pivot .webix_dtable .webix_cell{
    font-size: 14px; 
}
.webix_pivot .webix_dtable .webix_ss_left .webix_cell{
    font-size: 15px; 
}
.webix_pivot_label{
    padding:3px 10px 3px 6px;
}
.webix_pivot{
    .webix_ss_footer TD, 
    .webix_ss_vscroll_footer {
        background: #F4F4F4;
    }

    .webix_el_label{
        overflow: visible;
        white-space: nowrap;
    }
    .webix_ss_left .webix_cell {
        background: #F0F3F5;
        border-color: #DDDDDD;
        color: #666666;
        .webix_row_select {
            color: #000;
        }
    }
    
    .webix_ss_footer {
        TD {
            border-right: 1px solid #DDDDDD;
            border-top: none;
        }
        border-top: 1px solid #C6C6C6;
    }
    .webix_dtable .webix_dd_drag_column, 
    .webix_ss_header, .webix_ss_header TD, 
    .webix_ss_vscroll_header {
        background: #F1F9FF;
    }

    .webix_ss_header td {
        border-color: #CCDEEB;
    }

    .webix_column>div.webix_cell_select, 
    .webix_column>div.webix_column_select, 
    .webix_column>div.webix_row_select {
        background: #CDE4F4;
        color: #000000;
    }
}

.webix_pivot_operation {
    color: #97ADBD; 
    font-size: 15px;    
    line-height: 22px;
}

.webix_pivot_icon_settings {
    background: url("../img/settings-icon.svg") no-repeat;
    height: 20px;    
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.webix_pivot{
    .webix_cell {
        &:focus {
            outline: none;
        }
        .webix_tree_folder_open {
            background-image: url("../img/open-folder-icon.svg");
            margin-right: 8px;
        }
        .webix_tree_folder {
            background-image: url("../img/folder.svg");
            margin-right: 8px;
        }
        .webix_tree_file {
            background-image: url("../img/file-icon.svg");
            margin-right: 5px;
        }
        &.webix_row_select {
            .webix_tree_folder_open {
                background-image: url("../img/open-folder-icon-selected.svg");
            }
            .webix_tree_folder {
                background-image: url("../img/folder-selected.svg");
            }
            .webix_tree_file {
                background-image: url("../img/file-icon-selected.svg");
            }
        }
    }
    .webix_dtable .webix_ss_left .webix_column.webix_last>div.webix_row_select, .webix_cell.webix_row_select, .webix_column>div.webix_row_select {
        border-color: #b5d3e8;
        border-top: 1px solid #b5d3e8;
        border-bottom: none;
    }

    .webix_column>div.webix_row_select+.webix_cell {
        border-top: 1px solid #b5d3e8;
    }

    .webix_ss_header+.webix_ss_body div[aria-rowindex="1"], .webix_dtable .webix_ss_left .webix_column.webix_last>div[aria-rowindex="1"].webix_row_select {
        border-top: none;
    }
}

// popup styling, overrides globals
// .webix_view.webix_popup {
//     &.webix_pivot_richselect_suggest, &.webix_pivot_multicombo_suggest {
//         border: none;
//     }
// }

.webix_pivot{ 
    .webix_toolbar+.webix_dtable {
        border-top: none;
    }
}

// calendar styling, overrides globals
// .webix_cal_body .webix_cal_select, 
// .webix_cal_body .webix_cal_select.webix_cal_today,
// .webix_cal_body .webix_cal_event.webix_cal_select, .webix_cal_body .webix_selected {
//     background: #0C5E9F;
//     border-radius: 2px;
// }


// .webix_cal_footer .webix_cal_done {
//     background: #0C5E9F;
//     border-radius: 2px;
//     border: none;
//     padding: 5px 0;
// }

// .webix_cal_body .webix_cal_today {
//     border-color: #0C5E9F;
//     border-radius: 2px;
// }

.webix_pivot{
    .webix_column>div, .webix_table_cell {
        border-top: 1px solid #ebebeb;
        border-bottom: none;
    }


    .webix_toolbar .webix_el_label, .webix_toolbar .webix_control.webix_el_label {
        padding-left: 5px;
    }

    .webix_pivot .webix_toolbar{
        padding-left: 7px;
    }

    .webix_view .webix_tree_open {
        float: right;
        &:before {
            content: '\f107';
        }
    }

    .webix_view .webix_tree_close {
        float: right;
        &:before {
            content: '\f105';
        }
    }
    .webix_control {
        .fa-angle-down::before{
            vertical-align: middle;
            font-size: 15px;
        }
    }
    .webix_cell .webix_tree_none {
        &:first-child {
            width: 9px;
        }
    }
}

.webix_pivot{
    .webix_layout_toolbar.webix_toolbar{
        background: #005CA1;
    }
}
.webix_pivot{
    .webix_el_richselect, .webix_multicombo {
        .webix_el_box {
            font-size: 14px;    
            line-height: 19px;
        }
    }
    .webix_el_richselect, .webix_multicombo,
    .webix_el_datepicker, .webix_el_text {
        .webix_el_box .webix_inp_static, input {
            border-radius: 2px;
            color: #666666; 
            font-size: 13px;
            box-shadow: none;    
            line-height: 22px;
        }
    }
}

.webix_pivot {
    .icon-columns {
        background: url("../img/icon-columns.svg") no-repeat;
    }
    .icon-list {
        background: url("../img/icon-rows.svg") no-repeat;
    }
    .icon-values {
        background: url("../img/icon-values.svg") no-repeat;
    }
    .icon-filter {
        background: url("../img/icon-filter.svg") no-repeat;
    }
    .icon-values-chart {
        background: url("../img/values-icon.svg") no-repeat;
    }
    .icon-chart {
        background: url("../img/chart-icon.svg") no-repeat;
    }
    .icon-group {
        background: url("../img/groupby-icon.svg") no-repeat;
    }
}
.webix_pivot_list_drag {
    background: url("../img/list-drag.svg") no-repeat;
    height: 8px;
    width: 12px;
    margin-left: 10px;
    position: absolute;
    right: 15px;
    top: 16px;
}

.webix_pivot{
    .webix_list {
        .webix_pivot_link {
            border: none;
            font-size: 15px;
            line-height: 21px;
        }
        .webix_link_selection {
            color: #97ADBD;
        }
        .webix_pivot_close {
            float: right;
            color: #C7C7C7;
            margin-top: 5px;
            font-size: 15px;
            &:hover, &:active, &:focus {
                color: #FFC8C2;
            }
        }
    }
}
.webix_pivot_msg {
    display: inline-block;
}
.webix_pivot_fields {
    .webix_list_item {
        padding: 5px 15px;
        position: relative;
        padding-right: 35px;
    }
}

.webix_pivot_richselect_suggest, .webix_pivot_popup, .webix_pivot_multicombo_suggest {
    .webix_list_item, .webix_list_item.webix_selected {
        border-bottom: none;
        color: #4A4A4A;
        font-size: 14px;
        padding: 2px 7px;
        &.webix_selected, &:hover {
            border-bottom: none;
            color: #7B96A8;
            background: transparent;
        }
        .webix_icon {
            color: #666;
            font-size: 14px;
        }
    }
}

.webix_pivot_popup, .webix_pivot_popup .webix_pivot_multicombo_suggest  { 
    .webix_list_item {
        padding: 0;
        &.webix_selected {
            padding: 0;
        }
    }
}

.webix_pivot_header_fields{
    background: #CEE4F3;
    color: #000;
    border-color: #CDDEEA;
    line-height: 30px;
    .webix_template{
        padding-left: 10px;
    }
}

.webix_popup.webix_pivot, .webix_pivot_chart_popup {
    border-radius: 2px;
    .webix_pivot_fields_layout .webix_layout_line {
        border-radius: 2px;
    }
    .webix_layout_toolbar.webix_toolbar{
        .webix_el_label {
            padding-left: 0;
        }
        .webix_el_box {
            button {
                height: 34px;
                font-size: 15px;    
                line-height: 18px;
                border-radius: 2px; 
            }
            .webixtype_form {
                border: none;
                border-radius: 2px;
                background-color: #FFFFFF;
                color: #333333;
                padding-top: 1px;
                &:active, &:hover {
                    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125)
                }
            }
        }
    }
}

.webix_pivot{
    .webix_layout_toolbar.webix_toolbar .webix_el_label {
        font-family: "PT Sans";   
        font-size: 15px;    
        line-height: 22px;
    }
    .webix_column>div, .webix_table_cell, .webix_hcell {
        padding: 0 10px 0 15px;
    }
}

.webix_pivot_multicombo_suggest {
    .webix_icon {
        height: 12px;
        width: 12px;
        margin-right: 8px;
        margin-top: 1px;
        &.fa-check-square {
            background: url("../img/check.svg") no-repeat;
            background-position: 51% 46%;
            &::before {
                content: "\f096";
            }
        }
    }
}

.webix_pivot_values, .webix_pivot_chart_values {
    .webix_pivot_link {
        +.webix_pivot_link {
            padding-top: 5px;
            margin-top: 10px;
            border-top: 1px solid #ebebeb;
        }
        float: none;
    }
}

.webix_pivot.webix_popup .webix_win_head, .webix_pivot_chart_popup .webix_win_head {
    .webix_el_label, {
        font-size: 17px;
    }
    .webix_layout_toolbar.webix_toolbar .webix_control.webix_el_label {
        margin-right: 2px;
    }
}

.webix_pivot{
    .webix_ss_sort_asc, .webix_ss_sort_desc {
        right: 13px;
        color: #666;
    }
    tr[section="header"] {
        .webix_ss_sort_asc, .webix_ss_sort_desc {
            width: 20px;
            height: 100%;
            display: block;
            top: 0;
            background-color: #F1F9FF;
            &:before {    
                top: 50%;
                position: absolute;
                left: 50%;
            }
        }
    }
    .webix_toolbar {
        .webix_el_richselect .webix_el_box .webix_inp_static {
            border-color: #fff;
        }
    }
}

