.webix_pivot_chart_popup .webix_pivot_chart_values .webix_list_item {
    padding: 8px 10px 3px 0px;
}
.webix_pivot_chart_popup .webix_win_head .fa-times{
	font-size: 14px;
	color:#888;
}
.webix_pivot_chart_popup .webix_win_head .fa-check{
	font-size: 15px;
}
.webix_pivot_chart_popup .webix_win_head .webix_img_btn_abs .webix_icon{
	margin-left:5px;
	width: 16px;
}
.webix_link_title{
	float: left;
}
.webix_link_selection{
	display:inline-block;
	padding: 0 2px 0 3px;
	color: #888;
}
.webix_link_selection.filter{
	float: right;
}

.webix_color_selection{
	float: left;
	height: 25px;
}
.webix_color_selection div{
	width: 14px;
	height: 14px;
	margin: 5px 10px 0 4px;
	border-radius: 2px;
}
.webix_pivot .webix_list_item, .webix_pivot_chart_popup .webix_list_item{
	line-height: 30px;
}
.pivot_config_title{
	font-size: 15px;
}
.wevix_pivot_filter{
	float: left;
}
.webix_pivot_link {
    border-bottom: 1px dashed #888888;
    float: left;
    /*background-color: #dddddd;*/
    border: 1px solid #aaa;
    padding: 0px 6px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
	line-height: 27px;
}
.webix_pivot_popup_icon{
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	margin-right: 5px;
	height:100%;
	display: block;
	float:left;
}


.webix_pivot_link .webix_icon {
    font-size:13px;
    color:#aaa;
    text-align: center;
}

.webix_pivot_transparent{
	background-color: transparent;
	color:#fff;
}
.webix_pivot_list_marker{
	border:1px solid #758da3;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-right: 5px;
	margin-bottom: 1px;
	display: inline-block;

}

.webix_pivot_link .webix_pivot_minus{
	font-size: 13px;
	margin-right: -3px;
}

.webix_pivot_popup_header_title{
	font-weight: bold;
}
.webix_pivot_type_label{
	padding: 10px 0;
}
.webix_pivot_popup_title, .webix_pivot_chart_popup .webix_pivot_header_fields{
	line-height: 20px;
	background: #E1E4E6;
	.webix_template{
		padding: 10px 15px;
	}
}
.webix_pivot_chart_popup .webix_pivot_fields_msg{
	line-height: 20px;
}

.webix_pivot_chart_popup{
	.webix_layout_wide,  .webix_layout_space{
		background-color: #F3F3F3;
	}
}

.webix_pivot_footer{
	background-color: #f3f3f3;
}

.webix_pivot_chart_popup .webix_layout_toolbar.webix_toolbar {
	background: #005CA1;
}

.webix_pivot_chart_popup {
	.webix_layout_space, .webix_layout_wide{
		background: #f3f3f3;
	}
	.webix_pivot_popup_title{

		background: #CEE4F3;
        color: #000;

	}
}


.webix_pivot {
	.webix_el_combo span.webix_input_icon, 
	.webix_el_richselect span.webix_input_icon {
		border-color: #d9d9d9;
	    background-color: transparent;
	    color: #666;
        line-height: 17px;
	}
}

.webix_pivot_popup_chart {
	background: #fff;
	border-width: 0 1px 1px 1px;
	box-sizing: border-box;
	.webix_control {
		border-right: none;
		border-left: none;
	}
}

.webix_pivot_popup_title, 
.webix_pivot_chart_popup .webix_pivot_header_fields {
	background: #CEE4F3;
    color: #000;
    .webix_template{
        padding-left: 15px;
    }
}

.webix_pivot_popup_chart {
	.webix_el_box {
		.webix_inp_static {
			border: none;
	    	color: #97ADBD;
	    	outline: none;
		}
		span {
			display: none;
		}
	}
	
}

.webix_pivot_configure {
	font-size: 16px;
	line-height: 28px;	
	text-align: center;
	background-color: #F1F9FF;
	position: absolute;
	z-index: 105;
    height: 57px;
    border: 1px solid #CCDEEB;
   	top: 0;
    right: 9px;
    width: 217px;
	&:hover {
		cursor: pointer;
	}
	span {
		line-height: 3.5;
	}
}

.webix_pivot_chart {
	position: relative;
}

.webix_pivot .webix_toolbar {
	background-color: #005CA1;
	.webix_control label, .webix_el_label {
		color: #fff;
	}
}

.webix_chart_popup_icon {
	background: url("../img/chart-type-icon.svg") no-repeat;
	width: 15px;
    height: 18px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}


.webix_pivot_popup_chart {
	.webix_list {
		.webix_icon {
			font-size: 18px;
			height: 18px;
	        width: 15px;
	        margin-right: 10px;
	        vertical-align: middle;
		    &.fa-check-square-o {
		        background: url("../img/check.svg") no-repeat;
		        background-position: 41% 44%;
		        &::before {
		            content: "\f096";
		        }
		    }
		}
	}
}

.webix_pivot_popup_chart {
	.webix_list_item {
	    padding: 5px 10px 4px 10px;
	}
}

.webix_pivot .webix_input_icon.fa-calendar {
    border-color: #d9d9d9;
    background-color: transparent;
    color: #666;
}
.webix_pivot_configure_label {
	color: #4A4A4A;
	font-size: 16px;
	line-height: 28px;
}

.webix_pivot_chart_popup .webix_el_box button {
    height: 34px;
    font-size: 15px;
    line-height: 18px;
    border-radius: 2px;
}

.webix_pivot .webix_layout_toolbar.webix_toolbar .webix_control, .webix_pivot .webix_control{
	&.webix_el_label {
		margin-right: 1px;
	}
	&.webix_el_button {
		margin-right: 0;
	}
}